{% extends 'layout.html' %}

{% block pageTitle %}
  Messaging patients
{% endblock %}

{% block beforeContent %}
{% from 'breadcrumb/macro.njk' import breadcrumb %}

{{ breadcrumb({
  items: [
    {
      href: "/#",
      text: "Home"
    }
  ],
  href: "/index",
  text: "Messaging patients"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">
      <div class="app-pane__side-bar">
        <nav class="app-side-nav">
        
          <h2 class="app-side-nav__heading">Messaging patients</h2>
          <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/primary-care-em-toolkit/v1/communication-channels-for-messages">Communication channels for messages</a>
            </li>
            <!-- Out of scope for first iteration<li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/send-accessible-messages">Send accessible messages</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/send-messages-that-patients-trust">Send messages that patients trust</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/personalise-messages">Personalise messages</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/reach-digitally-excluded-patients">Reach digitally excluded patients</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/suggested-wording-for-common-messages">Suggested wording for common messages</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/measure-the-success-of-your-messages">Measure the success of your messages</a>
            </li> -->
            
          </ul>
      </nav>
      </div>
    </div>
    <div class="nhsuk-grid-column-two-thirds"> 

      <!-- Add your content here -->
      <h1 class="nhsuk-heading-xl">Communication channels for messages</h1>
      <p class="nhsuk-body-l">Most [message services] will only let you decide which communication channel to use to message an individual patient. They will have fixed channels for sending [messages to multiple patients].</p>   
      <p class="nhsuk-body-l">Avoid sending the same message using multiple channels at the same time. This can overwhelm patients. It also increases costs for the NHS.</p>
      <h2>Send messages that patients can understand</h2>
        <p class="nhsuk-body">If a patient with a disability, impairment or sensory loss has a recorded communication need, you must send messages in a format they can access. <a href="/send-accessible-messages">Find out more about sending accessible messages</a>.</p>
<h2>App messages</h2>
<p class="nhsuk-body">Sending a message through the NHS App is free and secure. It also means patients can manage all their healthcare information in one place. <a href="https://digital.nhs.uk/services/nhs-app/nhs-app-guidance-for-gp-practices/guidance-on-nhs-app-features/nhs-app-messaging-service">Find out more about the benefits of NHS App messaging</a>.</p>
  <p>Patients need to download the NHS App and turn on their notifications before they can receive messages through the app. <a href="https://digital.nhs.uk/services/nhs-app/toolkit/nhs-app-messaging-promotional-materials">Find resources to promote NHS App messaging, including example text message templates</a>.</p>
 <h3>If a patient does not see an app message </h3>
 <p class="nhsuk-body">If a patient does not see an app message notification or read the message, your [message service] will send the message by text message, email or letter.</p>
 <p>Each [message service] will have a different channel send order and timescales. Speak to your [???] to find out more.</p>
 <h3>Keep app messages as short as possible</h3>
 <p>App messages might also be sent as text messages if they haven't been read on the NHS App, so you should keep messages as short as possible. <a href="https://effective-messaging-toolkit-a2b49d847efb.herokuapp.com/decide-which-communication-channel-to-use#:~:text=up%20to%20date.-,Text%20message%20fragments,-Text%20messages%20are">Find out more about text message fragments</a>.</p>

 <!-- Out of scope for first iteration
 <h3>Example uses of app messages</h3>
<ul>
  <li>Routine appointment confirmations, reminders, changes and cancellations.</li> 
  <li>Communicating negative (clear) test results.</li>
  <li>Links to patient advice, for example a page on the NHS website.</li>
  <li>Invitations for vaccinations or screening.</li>
  <li>Invitations to complete a survey or questionnaire.</li>
  <li>Public health campaign messages.</li>
  <li>Announcements related to policies or other changes relevant to patients.</li>
</ul>-->
<h2>Emails</h2>
<p>Sending an email is free. It can be more convenient and accessible than a paper letter.</p>
<p>Patients may also prefer to have information emailed to them if they need to forward it to someone else, for example a fit note (sick note).</p>
<a href="https://business.scope.org.uk/article/how-to-make-your-emails-more-accessible">Find out how to make your emails more accessible</a>.</p>
 <!-- Out of scope for first iteration
  <h3>Example uses of email</h3>
<ul>
  <li>Appointment confirmations when there is a lot of information the patient needs to know, like any specific things they need to do before the appointment.</li>
  <li>Copies of letters, for example from a consultant.</li>
  <li>Patient information leaflets</li>
      </ul>-->
      <p>Your email could end up in a patient's junk folder or they might not trust it is from the NHS. <a href="/send-messages-that-patients-trust">Find out more about sending messages that patients trust</a>.</p>
<h2>Text messages (SMS)</h2>
<p>Sending text messages costs the NHS millions of pounds each year.</p>
<p>If you try to send a text message and it is not delivered to the patient, you will still be charged.</p>
<p>Regularly check that the mobile numbers you have for patients are up to date. </p>
<!-- Out of scope for first iteration
<p>Text messages should only be sent if:</p>
<ul>
  <li>the patient does not have the NHS App</li>
  <li>you are requesting information that is needed quickly</li>
      </ul>
      <h3>Example uses of text messages</h3>
      <p>Urgent requests for the patient:</p>
      <ul>
        <li>to send a photo to a clinician</li>
        <li>to join a video consultation</li>
        <li>to complete a form or send a document</li>
            </ul>-->
      <h3>Text message fragments</h3>
     <p>Text messages are split into chunks called fragments.</p> 
     <ul>
      <li>160 characters is 1 fragment.</li>
      <li>306 characters is 2 fragments.</li>
      <li>459 characters is 3 fragments.</li>
      <li>Each additional 153 characters is another fragment.</li>
     </ul>  
<p>Each fragment costs about 2 pence.</p>  
<p>If you go 1 character over a fragment limit, you are charged for another fragment. For example:</p>  
<ul>
  <li>306 characters will be 2 fragments and cost about 4 pence</li>
  <li>307 characters will be 3 fragments and cost about 6 pence</li>
</ul>
<h4>How to sender fewer fragments</h4>
      <p>You should keep text messages as short as possible but make sure you include all the information the patient needs to know.</p>
      <p>Following our <a href="https://service-manual.nhs.uk/content/how-we-write">content guide</a> can help you to write messages clearly and concisely.</p>
<p>If you use templates for your messages, check the fragment length and remove any words that are not needed, for example COVID-19 guidance.</p>
<p>You can also reduce the number of fragments you send by:</p>
  <ul>
    <li>only using spaces and line breaks where they are needed (spaces are 1 character and line breaks are 2 characters)</li>
    <li>using widely known acronyms, for example 'A&E', rather than 'accident and emergency'</li>
    <li>only using signs and symbols, like brackets and quote marks, if the message would be hard to understand without them</li>
  </ul>
  <p><a href="https://www.notifications.service.gov.uk/pricing/text-messages#symbols">Find out more about how signs, symbols and accented characters can increase text message fragments</a>.</p>
  <h4>Make sure everyone can understand your text messages</h4>
    <p>Reducing text message fragments is important. But it is more important that all patients can understand your messages.</p>
    <p> You should:</p>  
<ul>
  <li>avoid using acronyms not everyone will be familiar with, for example 'OTC' for 'over the counter'</li>
  <li>avoid using abbreviations, for example 'Mon' for 'Monday', 'Feb' for February or 'appt' for 'appointment'</li>
</ul>
<p><a href="/send-accessible-messages">Find out more about sending accessible messages</a>.</p>
<p>Look at our <a href="/suggested-wording-for-common-messages">suggested wording for common messages</a>, which have been tested with patients and are as short as possible.</p>
<h3>Links in text messages</h3>
<p>Not all patients with a mobile telephone number have a smartphone.</p>
<p>Give patients another way to respond if they are not able to follow the links in a text message. <a href="/reach-digitally-excluded-patients">Find out more about reaching digitally excluded patients</a>.</p>
<p>If you include links in a text message, do not use a [link shortening tool]. They are not accessible for patients using assistive technology.</p>
<h2>Paper letters</h2> 
<p>Sending a paper letter costs at least [£XX.XX].</p>
<p>Paper letters should only be sent:</p>
<ul>
  <li>if you cannot send an app message, email or text message</li>
  <li>if the patient has a communication need, for example large print</li>
      </ul>  
      <h2>Create a communications policy</h2>
      <p>Create a communications policy that outlines what types of messages will be sent using each channel.</p>
      <p>This will make your messaging more consistent for patients, so they know what to expect. It will also help you budget for messaging costs.</p> 
        <p>NHS England has created a <a href="https://transform.england.nhs.uk/information-governance/guidance/template-email-and-text-message-communications/">template for email and text message communications</a>.</p>
</div>  

  </div>
{% endblock %}
