// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////

.app-pane__side-bar {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  width: 220px;
}
@media (max-width: 61.865em) {
    .app-pane__side-bar {
      width: 200px;
    }
  }
  @media (max-width: 48.0525em) {
    .app-pane__side-bar {
      display: none;
    }
  }
  .app-side-nav__heading {
    font-weight: 600;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    color: #4c6272;
    margin-bottom: 12px;
    padding-top: 4px;
  }
  @media (min-width: 40.0625em) {
    .app-side-nav__heading {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.25;
    }
  }
  @media print {
    .app-side-nav__heading {
      font-size: 14pt;
      line-height: 1.25;
    }
  }
  @media (max-width: 48.0525em) {
    .app-side-nav__heading {
      font-weight: 600;
      font-size: 20px;
      font-size: 1.25rem;
      line-height: 1.25;
      color: #212b32;
    }
  }
  @media (max-width: 48.0525em) and (min-width: 40.0625em) {
    .app-side-nav__heading {
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 1.25;
    }
  }
  @media print and (max-width: 48.0525em) {
    .app-side-nav__heading {
      font-size: 18pt;
      line-height: 1.25;
    }
  }
  .app-side-nav__back {
    border-bottom: 1px solid #d8dde0;
    padding-bottom: 16px;
  }
  .app-side-nav__list {
    font-weight: 400;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.3;
    margin-bottom: 0;
  }
  @media (min-width: 40.0625em) {
    .app-side-nav__list {
      font-size: 16px;
      font-size: 1rem;
      line-height: 1.3;
    }
  }
  @media print {
    .app-side-nav__list {
      font-size: 14pt;
      line-height: 1.3;
    }
  }
  @media (max-width: 48.0525em) {
    .app-side-nav__list {
      font-weight: 400;
      font-size: 16px;
      font-size: 1rem;
      line-height: 1.3;
      margin-bottom: 8px;
    }
  }
  @media (max-width: 48.0525em) and (min-width: 40.0625em) {
    .app-side-nav__list {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.3;
    }
  }
  @media print and (max-width: 48.0525em) {
    .app-side-nav__list {
      font-size: 14pt;
      line-height: 1.3;
    }
  }
  .app-side-nav__item {
    padding-bottom: 4px;
    padding-top: 4px;
  }
  .app-side-nav__item--current {
    margin-left: -12px;
    padding-left: 8px;
    border-left: 4px solid rgb(0, 94, 184);
}
  .app-side-nav__item--current .app-side-nav__link {
    font-weight: 600;
  }
  .app-side-nav__link {
    text-decoration: none;
  }
  @media (max-width: 48.0525em) {
    .app-side-nav__link {
      text-decoration: underline;
    }
  }
  .app-side-nav__link:visited {
    color: #005eb8;
  }
  .app-side-nav__link:hover {
    color: #7c2855;
    text-decoration: underline;
  }
  .app-side-nav__link:focus:hover,
  .app-side-nav__link:focus:visited {
    color: #212b32;
  }
  .app-side-nav__list--nested {
    margin-bottom: 8px;
    margin-top: 8px;
  }
  @media (min-width: 40.0625em) {
    .app-side-nav__list--nested {
      margin-bottom: 8px;
    }
  }
  @media (min-width: 40.0625em) {
    .app-side-nav__list--nested {
      margin-top: 16px;
    }
  }
  .app-side-nav__list--nested .app-side-nav__item {
    font-weight: 400;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.3;
    list-style: none;
  }
  @media (min-width: 40.0625em) {
    .app-side-nav__list--nested .app-side-nav__item {
      font-size: 16px;
      font-size: 1rem;
      line-height: 1.3;
    }
  }
  @media print {
    .app-side-nav__list--nested .app-side-nav__item {
      font-size: 14pt;
      line-height: 1.3;
    }
  }
  .app-side-nav__list--nested .app-side-nav__link {
    font-weight: 400;
  }
  .app-side-nav__list--nested .app-side-nav__item::before {
    color: #aeb7bd;
    content: "—";
    margin-left: -20px;
    margin-right: 4px;
  }
  
.nhsuk-lede-text {
  font-weight: 400;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.4;
  margin-bottom: 40px;
}
@media (min-width: 40.0625em) {
  .nhsuk-lede-text {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.33333;
  }
}
@media print {
  .nhsuk-lede-text {
    font-size: 18pt;
    line-height: 1.15;
  }
}
@media (min-width: 40.0625em) {
  .nhsuk-lede-text {
    margin-bottom: 48px;
  }
}
.nhsuk-lede-text p,
.nhsuk-lede-text ul {
  font-weight: 400;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.4;
}
@media (min-width: 40.0625em) {
  .nhsuk-lede-text p,
  .nhsuk-lede-text ul {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.33333;
  }
}
@media print {
  .nhsuk-lede-text p,
  .nhsuk-lede-text ul {
    font-size: 18pt;
    line-height: 1.15;
  }
}
.nhsuk-lede-text--small {
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 24px;
}
@media (min-width: 40.0625em) {
  .nhsuk-lede-text--small {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.47368;
  }
}
@media print {
  .nhsuk-lede-text--small {
    font-size: 14pt;
    line-height: 1.15;
  }
}
@media (min-width: 40.0625em) {
  .nhsuk-lede-text--small {
    margin-bottom: 32px;
  }
}
h1 + .nhsuk-lede-text,
h1 + .nhsuk-lede-text--small {
  margin-top: -8px;
}

.featured-list {
  list-style: none;
  margin: 24px 0 32px;
  padding-left: 0;
}

.featured-list--item {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  padding-left: 64px;
}

.featured-list--item__content {
  max-width: 99.99%;
}

.featured-list--item__heading {
  align-items: center;
  display: flex;
  margin-top: 0px;
  padding-top: 16px;
  position: relative;
  border-top: 4px solid rgb(0, 94, 184);
}

.featured-list--item {
  display: flex;
  margin-bottom: 40px;
  padding-left: 64px;
}

.featured-list--item__number {
  display: block;
  left: -64px;
  position: absolute;
  margin: 0px;
}

.nhsuk-tag {
  font-weight: 600;
  font-size: 14px;
  font-size: .875rem;
  line-height: 1;
  background-color: #0055a6;
  border: 1px solid #0055a6;
  color: #fff;
  display: inline-block;
  outline: 2px solid rgba(0, 0, 0, 0);
  outline-offset: -2px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  text-decoration: none;
}

.app-example__heading {
  background: #4c6272;
  border: 0;
  left: -1px;
  position: absolute;
  top: -1px;
}

.app-example>*:first-child {
  margin-top: 0;
}

@media (min-width: 48.0625em) {
  .app-component-reading-width .app-example, .app-component-reading-width .nhsuk-table, .app-component-reading-width .app-colour-list, .app-component-reading-width .app-example--image, .app-component-reading-width .app-pre, .app-component-reading-width .nhsuk-image__img {
      max-width: 44em;
  }
}