{% extends 'layout.html' %}

{% block pageTitle %}
  Messaging patients
{% endblock %}

{% block beforeContent %}

{% from 'breadcrumb/macro.njk' import breadcrumb %}

{{ breadcrumb({
  items: [
    {
      href: "/primary-care-em-toolkit/v4/primary-care-em-toolkit-index",
      text: "Home"
    }
  ],
  href: "/primary-care-em-toolkit/v4/primary-care-em-toolkit-index",
  text: "Messaging patients"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">
      <div class="app-pane__side-bar">
        <nav class="app-side-nav">
          <h2 class="app-side-nav__heading">Messaging patients</h2>
          <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/primary-care-em-toolkit/v5/communication-channels-for-messages">Communication channels for messages</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/primary-care-em-toolkit/v5/send-accessible-messages">Send accessible and inclusive messages</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/primary-care-em-toolkit/v5/send-messages-that-patients-trust">Send messages that patients trust</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/primary-care-em-toolkit/v5/send-messages-that-are-appropriate-and-relevant">Send messages that are appropriate and relevant</a>
            </li>
            <!-- out of scope for this version 
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/reach-digitally-excluded-patients">Reach digitally excluded patients</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/suggested-wording-for-common-messages">Suggested wording for common messages</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/measure-the-success-of-your-messages">Measure the success of your messages</a>
            </li> -->
          </ul>
          
      </nav>
      </div>
    </div>
    <div class="nhsuk-grid-column-two-thirds"> 

      <!-- Add your content here -->
      <span class="nhsuk-caption-l">
        Messaging patients
        
        <span class="nhsuk-u-visually-hidden"> - </span>
      </span>
      <h1 class="nhsuk-heading-xl">Send effective messages to patients</h1>
        <p class="nhsuk-lede-text">This guide is for people who create and send messages to patients in NHS primary and secondary care.
        <p class="nhsuk-lede-text">Specifically, if you're a GP practice manager, receptionist or work in administration support and you need to create and send messages to patients as part of your role, this guidance will help you to make them more effective.</p>

      <h2>1. Choose the right communication channel</h2>
            <h3>Essential</h3>
            <ul>
              <li>Send messages in a format that people with a recorded communication need can access.</a></li>
              </ul>
            <h3>Best practice</h3>
            <ul>
              <li>Use the NHS App to send non-urgent messages securely at no cost.</li>
              <li>If you need to send a text message, make sure you use as few message fragments as possible to reduce costs. </li>
            </ul>
            <p><a href="/primary-care-em-toolkit/v4/communication-channels-for-messages">Find out more about choosing the right communication channels for your messages</a>.</p>

    
        <h2>2. Ensure messages are accessible and inclusive</h2>
            <h3>Essential</h3>
            <ul>
              <li>Use <a href="https://service-manual.nhs.uk/content">this NHS Content guide</a> to write in short sentences and plain English and use inclusive language.</li>
              <li>Make your messages available in alternative formats (also known as accessible formats) like large print, audio files or Braille.</a>  </li>
              <li>Make sure you're familiar with the NHS Accessible Information Standard.</a></li>
              </ul>
            <h3>Best practice</h3>
            <ul>
              <li>Make all possible efforts to meet patients' communication needs in languages other than English.</a></li>
            </ul>
            <p><a href="/primary-care-em-toolkit/v4/send-accessible-messages">Find out more about sending accessible and inclusive messages</a>.</p>
          
        
    
        <h2>3. Send messages that patients can trust</h2>
            <h3>Essential</h3>
            <ul>
              <li>Use an appropriate SenderID (the text that appears instead of a telephone number).</li>
              <li>Take steps to protect people from spam or phishing.</a></li>
              </ul>
            <h3>Best practice</h3>
            <ul>
              <li>Use <a href="https://service-manual.nhs.uk/content">this NHS Content guide</a> when creating new messages so they have a consistent style.</li> 
              <li>Always ask someone else to check your messages for errors before you send them.</li>
            </ul>
            <p><a href="/primary-care-em-toolkit/v4/send-messages-that-patients-trust">Find out more about sending messages that patients trust</a>.</p>  
    
        <h2>4. Make sure messages are appropriate and relevant</h2>
            <h3>Essential</h3>
            <ul>
              <li>Use the information you have available to identify specific groups of people - for example, patients who have missed their most recent screening appointment.</li>
              <li>Tailor message content so it's relevant to those specific groups.</li>
              <li>Do not include confidential information, as other people could see messages.</li>
              <li>Make sure your messages follow UK GDPR and data protection legislation.</a></li>
              <li>Make sure you have appropriate consent <a href="https://transform.england.nhs.uk/information-governance/guidance/what-is-and-isnt-direct-marketing/">if your message is considered direct marketing</a>.</li>
              </ul>
            <h3>Best practice</h3>
            <ul>
              <li>Use <a href="https://service-manual.nhs.uk/content/voice-and-tone">NHS voice and tone guidance</a> to write messages that make patients feel cared for.</li>
              <li>Share general information by putting a banner on your website or a post on social media instead of sending it in a message.</li>
            </ul>
            <p><a href="/primary-care-em-toolkit/v4/send-messages-that-are-appropriate-and-relevant">Find out more about sending personalised, appropriate and relevant messages</a>.</p>
          </div>
         
    </div>  

  </div>
{% endblock %}

