{% extends 'layout.html' %}

{% block pageTitle %}
  Messaging patients
{% endblock %}

{% block beforeContent %}
{% from 'breadcrumb/macro.njk' import breadcrumb %}

{{ breadcrumb({
  items: [
    {
      href: "/#",
      text: "Home"
    }
  ],
  href: "/primary-care-em-toolkit/v3/primary-care-em-toolkit-index",
  text: "Messaging patients"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">
      <div class="app-pane__side-bar">
        <nav class="app-side-nav">
        
          <h2 class="app-side-nav__heading">Messaging patients</h2>
          <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/primary-care-em-toolkit/v3/communication-channels-for-messages">Communication channels for messages</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/primary-care-em-toolkit/v3/send-accessible-messages">Send accessible and inclusive messages</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/primary-care-em-toolkit/v3/send-messages-that-patients-trust">Send messages that patients trust</a>
            </li>
            <li class="app-side-nav__item app-side-nav__item--current">
              <a class="app-side-nav__link" href="/primary-care-em-toolkit/v3/send-messages-that-are-appropriate-and-relevant">Send messages that are appropriate and relevant</a>
            </li>
            <!-- out of scope for this version 
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/reach-digitally-excluded-patients">Reach digitally excluded patients</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/suggested-wording-for-common-messages">Suggested wording for common messages</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/measure-the-success-of-your-messages">Measure the success of your messages</a>
            </li> -->
          </ul>
          
      </nav>
      </div>
    </div>
    <div class="nhsuk-grid-column-two-thirds"> 

      <!-- Add your content here -->
      <span class="nhsuk-caption-l">
        Content guide
        
        <span class="nhsuk-u-visually-hidden"> - </span>
      </span>
      
      <h1 class="nhsuk-heading-xl">Send messages that are personalised, appropriate and relevant</h1>
      <p class="nhsuk-body-l">Different types of messages will need different levels of personalisation.  
      <p class="nhsuk-body-l">Think about the context of the messages you send.</p>
      <p class="nhsuk-body-l">Adapt the content and tone to make your messages appropriate for the situation.</p>
      
      <h2 class="nhsuk-heading-l">Send relevant messages to specific groups of people</h2> 
      <p class="nhsuk-body">Research has shown that engagement with messages falls if patients receive too many messages that are not relevant to them.</p>
      
      <h3 class="nhsuk-heading-m">Identify specific groups and tailor your message content</h2> 
      <p class="nhsuk-body">Use your messaging software to identify groups of patients that are as specific as possible.</p>
      <p class="nhsuk-body">Then use information you have available to make the message content as relevant as possible to those specific groups.</p>
      <h4 class="nhsuk-heading-s">Example</h4>
      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Example: </span>
        <p class="nhsuk-body">You may have identified a group of patients who you know have previously attended their screening appointments but missed their most recent one.</p>
      <p class="nhsuk-body">You can send a message reminding them of the importance of regular screening.</p> 
      </div>

      <h3 class="nhsuk-heading-m">Consider different channels to reach wider groups</h3>  
      <p class="nhsuk-body">Do not send messages to very large groups of patients unless there is a real need to.</p>
      <p class="nhsuk-body">Consider whether general information can be shared in other ways, like putting a banner on your website or a post on social media.</p>
      
      <h2 class="nhsuk-heading-l">Confidential content</h2>
      <p class="nhsuk-body">Be cautious about what personal information you include in messages. The messages you send to a patient could be seen by other people. For example, many families will share a single mobile phone.</p>
      <p class="nhsuk-body">Some people also regularly change their mobile number, so it is important to confirm patients’ contact details at every opportunity.</p>
      <p class="nhsuk-body">Include enough information for the patient to understand what the message means and any action they need to take, without including any specific details of their care.</p>
    
      {% from 'tables/macro.njk' import table %}

      {{ table({
        panel: false,
        caption: "Example of appropriate message content",
        firstCellIsHeader: false,
        head: [
          {
            text: "Do not use"
          },
          {
            text: "Use"
          }
        ],
        rows: [
          [
            {
              text: "The results from your blood sugar test are available..."
            },
            {
              text: "The results from your [blood] test are available..."
            }
          ]
        ]
      }) }}
    
      <h2 class="nhsuk-heading-l">Consider how messages make patients feel</h2> 
      <p class="nhsuk-body">Messages should make patients feel cared for. You should try to avoid making patients feel anxious.</p>
      <p class="nhsuk-body">Follow the <a href="https://service-manual.nhs.uk/content/voice-and-tone">Voice and tone section of our Content guide</a> to write messages that are:</p>
      <ul>
        <li>personal, rather than formal</li>
        <li>empowering to patients</li>
        <li>trustworthy</li>
      </ul>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </div>  

  </div>
{% endblock %}
