{% extends 'layout.html' %}

{% block pageTitle %}
  Messaging patients
{% endblock %}

{% block beforeContent %}
{% from 'breadcrumb/macro.njk' import breadcrumb %}

{{ breadcrumb({
  items: [
    {
      href: "/#",
      text: "Home"
    }
  ],
  href: "/primary-care-em-toolkit/v2/primary-care-em-toolkit-index",
  text: "Messaging patients"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row"> 
    <div class="nhsuk-grid-column-one-third">
      <div class="app-pane__side-bar">
        <nav class="app-side-nav">
        
          <h2 class="app-side-nav__heading">Messaging patients</h2>
          <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/primary-care-em-toolkit/v2/communication-channels-for-messages">Communication channels for messages</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/primary-care-em-toolkit/v2/send-accessible-messages">Send accessible messages</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/primary-care-em-toolkit/v2/send-messages-that-patients-trust">Send messages that patients trust</a>
            </li>
            <!-- out of scope for this version <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/personalise-messages">Personalise messages</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/reach-digitally-excluded-patients">Reach digitally excluded patients</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/suggested-wording-for-common-messages">Suggested wording for common messages</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/measure-the-success-of-your-messages">Measure the success of your messages</a>
            </li> -->
          </ul>
          
      </nav>
      </div>
    </div>
    <div class="nhsuk-grid-column-two-thirds"> 

      <!-- Add your content here -->
      <h1 class="nhsuk-heading-xl">Send accessible and inclusive messages</h1>
      <p class="nhsuk-body-l">Write and send messages that:</p>
      <ul class="nhsuk-body-l">
        <li>everyone can understand </li>
        <li>make everyone feel included and respected</li>
      </ul>
      <h2>Make standard messages accessible</h2>
      <p class="nhsuk-body">Aim to make all the text messages, emails and app messages you send accessible to people who:</p>
      <ul>
        <li>use assistive technology, like a screenreader</li>
        <li>have a low level of literacy</li>
        <li>have low numeracy</li>
        <li>have a learning difficulty or autism</li>
        <li>have co-ordination difficulties</li>
        <li>do not speak English as their first language</li>
      </ul>
      <p>This will reduce the number of messages you need to send in alternative formats. These are also known as accessible formats.</p>
      <p>Use our <a href="https://service-manual.nhs.uk/content">content guide</a> to write messages that are:</p>
      <ul>
        <li>clear and in in plain English, so someone with a reading age of 9 to 11 years can understand them</li>
        <li>concise, with short sentences and paragraphs</li>
        <li>in the active voice, not passive voice</li>
      </ul>
      <p>Specific pages of the content guide tell you how to:</p>
      <ul>
        <li><a href="https://service-manual.nhs.uk/content/a-to-z-of-nhs-health-writing">use words and phrases that patients understand</a></li>
        <li><a href="https://service-manual.nhs.uk/content/formatting-and-punctuation">use formatting and punctuation</a></li>
        <li><a href="https://service-manual.nhs.uk/content/numbers-measurements-dates-time">write numbers, measurements, dates and times</a></li>
        <li><a href="https://service-manual.nhs.uk/content/links">use links</a></li>
      </ul>
      <p>The GOV.UK style guide also has a <a href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style#:~:text=a%20brand%20name.-,Words%20to%20avoid,-Plain%20English%20is">useful list of words to avoid, with plain English alternatives</a>.</p>
    <p>The messages you send might include links to your website. <a href="https://www.england.nhs.uk/long-read/creating-a-highly-usable-and-accessible-gp-website-for-patients/">Find out how to make your website usable and accessible for patients.</a></p>
    <h3>How stress and trauma can affect understanding</h3>
    <p>People experiencing stress and trauma may not understand things the same way they usually would.</p>
    <div class="nhsuk-inset-text">
      <h3>Research insight</h3>
      <p>People experiencing stress and trauma cancelled appointments they wanted to reschedule. They also thought a "referral" was the same as an "appointment". </p>
    </div>
    <p>Many people will be stressed or experiencing trauma when reading messages related to their healthcare. Messages need to:</p>
    <ul>
      <li>be easy to scan</li>
      <li>tell people exactly what they need to do</li>
      <li>be as specific as possible, to reduce the chance of people misunderstanding</li>
    </ul>
    <h2>The Accessible Information Standard</h2>
    <p>All organisations that provide NHS care are [legally] required to follow the Accessible Information Standard. The standard outlines how you must meet the information and communication support needs of people with a disability, impairment or sensory loss. This includes patients and service users, and their carers and parents.</p>
    <h3>Who the Accessible Information Standard might apply to</h3>
    <p>You must ask anyone who uses your services and has a disability, impairment or sensory loss if they have any communication or information needs.</p>
    <p>Patient codes that may indicate an additional communication need:</p>
        <ul>
          <li>registered blind or partially sighted</li>
          <li>hearing loss</li>
          <li>hearing aid user</li>
          <li>registered deaf</li>
          <li>sensori-neural deafness</li>
          <li>autistic spectrum disorder</li>
          <li>learning disability</li>
          <li>aphasia</li>
        </ul>
    <p>However, you should base decisions on a patient's communication needs, rather than their diagnosis.</p>
    <div class="nhsuk-inset-text">
      <span class="nhsuk-u-visually-hidden">Information: </span>
      <p>“If people cannot get information about their healthcare they understand, this can have a significant impact on their mental health and can lead to them missing doctor’s appointments or taking the wrong medication, putting them in danger." — Louise Ansari, national director at Healthwatch England </p>
    </div>

    <h3>How the Accessible Information Standard applies to messaging</h3>
    <ol>
      <li>Ask people to define their communication needs, including the format of messages they will be able to access and understand.</li>
      <li>Record their needs (not the disability, impairment or sensory loss) in a clear, unambiguous and standardised way.</li>
      <li>Flag these needs so they are easily visible to anyone accessing the record.</li>
      <li>Share these needs as part of existing data sharing processes, for example when referring a patient, so they will continue to receive accessible messages.</li>
      <li>Only send messages in a format that meets these needs, including any automatically generated messages.</li>
    </ol>
      <p><a href="https://www.england.nhs.uk/about/equality/equality-hub/patient-equalities-programme/equality-frameworks-and-information-standards/accessibleinfo">Find out more about the accessible information standard</a>.</p>
    <h2>Digital formats</h2>
    <p>Many people with communication needs use assistive technology to help them to understand written information.</p>
    <p>For these people, sending messages by email [ADD LINK] or text message [ADD LINK] will mean they can use their preferred technology.</p>
      <h2>Alternative formats (accessible formats)</h2>
    <p>Some people will need messages to be sent in an alternative format. These are also called accessible formats.</p>
    <p>People with a visual impairment may need:</p>
    <ul>
      <li>large print</li>
      <li>Braille</li>
      <li>an audio file, sent digitally or on a CD-ROM</li>
    </ul>
<p>People with a learning disability or a low level of literacy may need:</p>
<ul>
  <li>easy read</li>
  <li>Makaton</li>
</ul>
<p>People who are Deaf or have hearing loss may need:</p>
<ul>
  <li>British Sign Language (BSL)</li>
  <li>Makaton</li>
  <li>textphone</li>
</ul>
<p>People with co-ordination difficulties may need:</p>
<ul>
  <li>large print</li>
  <li>audio</li>
  <li>telephone</li>
</ul>
<p><a href="https://www.gov.uk/government/publications/inclusive-communication/accessible-communication-formats">Find out more about alternative communication formats</a>.</p>
<h2>Use inclusive language</h2>  
<p>Use our content guide to create inclusive content about:</p>
<ul>
  <li><a href="https://service-manual.nhs.uk/content/inclusive-content/age">age</a></li>
  <li><a href="https://service-manual.nhs.uk/content/inclusive-content/disabilities-and-conditions">disabilities and conditions</a></li>
  <li><a href="https://service-manual.nhs.uk/content/inclusive-content/sex-gender-and-sexuality">sex, gender and sexuality</a></li>
  <li><a href="https://service-manual.nhs.uk/content/inclusive-content/skin-symptoms">skin symptoms</a></li>
</ul>
<p>The Learning disability and autism programme has also created <a href="https://www.england.nhs.uk/learning-disabilities/about/get-involved/involving-people/making-information-and-the-words-we-use-accessible/">guidance about how to talk about people with a learning disability or autism</a>.</p>  
<h2>Translating message content into other languages</h2>
<p>Make all possible efforts to meet patients' communication needs in languages other than English.</p>
<p>Ask patients to tell you their preferred written language. Record this preference in their health record and include this information when referring patients to other healthcare professionals.</p>
<p>Translate message content into a patient's preferred language whenever possible.</p>
<p>You should:</p>
<ul>
  <li>provide the original message to the translator in plain English</li>
  <li>consider if audio-recorded spoken interpretation of information may be a better option if the person has a low level of literacy</li>
  <li>consider if visual content like images and diagrams may be more helpful</li>
</ul>
<p>Avoid Google Translate and other automated online translation services, as the translations could be poor quality.</p>
<p><a href="https://www.gov.uk/guidance/language-interpretation-migrant-health-guide">Find out more about language interpreting and translation for healthcare practitioners</a>.</p>
</div>
</div>
{% endblock %}
