{% extends 'layout.html' %}

{% block pageTitle %}
  Messaging patients
{% endblock %}

{% block beforeContent %}
{% from 'breadcrumb/macro.njk' import breadcrumb %}

{{ breadcrumb({
  items: [
    {
      href: "/#",
      text: "Home"
    }
  ],
  href: "/index",
  text: "Messaging patients"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">
      <div class="app-pane__side-bar">
        <nav class="app-side-nav">
        
          <h2 class="app-side-nav__heading">Messaging patients</h2>
          <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/decide-what-type-of-message-to-send">Decide what type of message to send</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/send-accessible-messages">Send accessible messages</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/send-messages-that-patients-trust">Send messages that patients trust</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/personalise-messages">Personalise messages</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/reach-digitally-excluded-patients">Reach digitally excluded patients</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/suggested-wording-for-common-messages">Suggested wording for common messages</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/measure-the-success-of-your-messages">Measure the success of your messages</a>
            </li>
          </ul>
            <!-- Out of scope for first iteration 
            <h2 class="app-side-nav__heading">Send accessible messages</h2>
            <ul class="nhsuk-list app-side-nav__list">
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 1</a>
              </li>
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 2</a>
              </li>
            </ul>
            <h2 class="app-side-nav__heading">Send messages that patients trust</h2>
            <ul class="nhsuk-list app-side-nav__list">
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 1</a>
              </li>
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 2</a>
              </li>
            </ul>
            <h2 class="app-side-nav__heading">Personalise messages</h2>
            <ul class="nhsuk-list app-side-nav__list">
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 1</a>
              </li>
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 2</a>
              </li>
            </ul>
            <h2 class="app-side-nav__heading">How to reach digitally excluded patients</h2>
            <ul class="nhsuk-list app-side-nav__list">
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 1</a>
              </li>
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 2</a>
              </li>
            </ul>
            <h2 class="app-side-nav__heading">Suggested wording for common messages</h2>
            <ul class="nhsuk-list app-side-nav__list">
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 1</a>
              </li>
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 2</a>
              </li>
            </ul>
            <h2 class="app-side-nav__heading">Measure the success of your messages</h2>
            <ul class="nhsuk-list app-side-nav__list">
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 1</a>
              </li>
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 2</a>
              </li>
            </ul>-->
            
        </nav>
      </div>
    </div>
    <div class="nhsuk-grid-column-two-thirds"> 

      <!-- Add your content here -->
      <h1 class="nhsuk-heading-xl">Decide what type of message to send</h1>
      <p class="nhsuk-body-l">Most [message services] will only let you decide what time of message to send for individual messages. They will have a set priority order for [batch] messages.</p>   
      <p class="nhsuk-body-l">Avoid sending the same message using multiple channels at the same time. This can overwhelm patients. It also increases costs for the NHS.</p>
      <h2>Send messages that patients can understand</h2>
        <p class="nhsuk-body">If a patient has a recorded communication need, you must send messages in a format they can access. <a href="/send-accessible-messages">Find out more about sending accessible messages</a></p>
<h2>App messages</h2>
<p class="nhsuk-body">Sending a message through the NHS App is free and secure. It also means patients can manage all their healthcare information in one place. <a href="https://digital.nhs.uk/services/nhs-app/nhs-app-guidance-for-gp-practices/guidance-on-nhs-app-features/nhs-app-messaging-service">Find out more about the benefits of NHS App messaging</a>.</p>
  <p>Patients need to download the NHS App and turn on their notifications before they can receive messages through the app. <a href="https://digital.nhs.uk/services/nhs-app/toolkit/nhs-app-messaging-promotional-materials">Find out more about the benefits of NHS App messaging</a>.</p>
 <h3>If a patient does not see an app message </h3>
 <p class="nhsuk-body">If a patient does not see an app message notification or read the message, your [message sending service] will send the message by text message, email or letter.</p>
 <p>Each service will send the message again using different channels and timescales. Speak to your [???] to find out more.</p>
 <h3>Keep app messages as short as possible</h3>
 <p>As app messages might be sent as text messages, you should keep messages as short as possible. <a href="/send-accessible-messages">[ANCHOR LINK] Find out more about text message fragments</a>.</p>
<h3>Example uses of app messages</h3>
<p>Routine appointments:</p>
<ul>
  <li>confirmations</li>
  <li>reminders</li>
  <li>changes or cancellations</li>
  <li>request for a patient to book an appointment</li>
  <li>notification of a missed appointment</li>
  </ul>
  <p>Appointment follow-ups:</p>
  <ul>
    <li>communicating negative (clear) test results</li>
    <li>appointment notes</li>
    <li>links to patient advice, for example a page on the NHS website</li>
    <li>messages related to fit notes</li>
    <li>other messages related to a patient’s care</li>
  </ul>
  <p>Invitations or requests:</p>
  <ul>
    <li>for vaccinations or screening</li>
    <li>to take part in research or a trial</li>
    <li>to complete a survey or questionnaire</li>
    <li>for the patient to call you at a convenient time</li>
  </ul>
  <p>Announcements and promotions:</p>
  <ul>
<li>public health campaigns </li>
<li>change in policy</li>
<li>closures or other changes to opening hours</li>
    </ul>

</div>  

  </div>
{% endblock %}
