{% extends 'layout.html' %}

{% block pageTitle %}
  Messaging patients
{% endblock %}

{% block beforeContent %}
{% from 'breadcrumb/macro.njk' import breadcrumb %}

{{ breadcrumb({
  items: [
    {
      href: "/#",
      text: "Home"
    }
  ],
  href: "/index",
  text: "Messaging patients"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">
      <div class="app-pane__side-bar">
        <nav class="app-side-nav">
        
          <h2 class="app-side-nav__heading">Messaging patients</h2>
          <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/decide-which-communication-channel-to-use">Decide which communication channel to use</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/send-accessible-messages">Send accessible messages</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/send-messages-that-patients-trust">Send messages that patients trust</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/personalise-messages">Personalise messages</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/reach-digitally-excluded-patients">Reach digitally excluded patients</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/suggested-wording-for-common-messages">Suggested wording for common messages</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/measure-the-success-of-your-messages">Measure the success of your messages</a>
            </li>
          </ul>
            <!-- Out of scope for first iteration 
            <h2 class="app-side-nav__heading">Send accessible messages</h2>
            <ul class="nhsuk-list app-side-nav__list">
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 1</a>
              </li>
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 2</a>
              </li>
            </ul>
            <h2 class="app-side-nav__heading">Send messages that patients trust</h2>
            <ul class="nhsuk-list app-side-nav__list">
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 1</a>
              </li>
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 2</a>
              </li>
            </ul>
            <h2 class="app-side-nav__heading">Personalise messages</h2>
            <ul class="nhsuk-list app-side-nav__list">
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 1</a>
              </li>
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 2</a>
              </li>
            </ul>
            <h2 class="app-side-nav__heading">How to reach digitally excluded patients</h2>
            <ul class="nhsuk-list app-side-nav__list">
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 1</a>
              </li>
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 2</a>
              </li>
            </ul>
            <h2 class="app-side-nav__heading">Suggested wording for common messages</h2>
            <ul class="nhsuk-list app-side-nav__list">
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 1</a>
              </li>
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 2</a>
              </li>
            </ul>
            <h2 class="app-side-nav__heading">Measure the success of your messages</h2>
            <ul class="nhsuk-list app-side-nav__list">
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 1</a>
              </li>
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 2</a>
              </li>
            </ul>-->
            
        </nav>
      </div>
    </div>
    <div class="nhsuk-grid-column-two-thirds"> 

      <!-- Add your content here -->
      <h1 class="nhsuk-heading-xl">Decide which communication channel to use</h1>
      <p class="nhsuk-body-l">Most [message services] will only let you decide which communication channel to use to message an individual patient. They will have fixed priority and back-up communication channels for sending messages to multiple patients. </p>   
      <p class="nhsuk-body-l">Avoid sending the same message using multiple channels at the same time. This can overwhelm patients. It also increases costs for the NHS.</p>
      <h2>Send messages that patients can understand</h2>
        <p class="nhsuk-body">If a patient with a disability, impairment or sensory loss has a recorded communication need, you must send messages in a format they can access. <a href="/send-accessible-messages">Find out more about sending accessible messages</a></p>
<h2>App messages</h2>
<p class="nhsuk-body">Sending a message through the NHS App is free and secure. It also means patients can manage all their healthcare information in one place. <a href="https://digital.nhs.uk/services/nhs-app/nhs-app-guidance-for-gp-practices/guidance-on-nhs-app-features/nhs-app-messaging-service">Find out more about the benefits of NHS App messaging</a>.</p>
  <p>Patients need to download the NHS App and turn on their notifications before they can receive messages through the app. <a href="https://digital.nhs.uk/services/nhs-app/toolkit/nhs-app-messaging-promotional-materials">Find resources to promote NHS App messaging, including example text message templates</a>.</p>
 <h3>If a patient does not see an app message </h3>
 <p class="nhsuk-body">If a patient does not see an app message notification or read the message, your [message service] will send the message by text message, email or letter.</p>
 <p>Each [message service] will have a different channel send order and timescales. Speak to your [???] to find out more.</p>
 <h3>Keep app messages as short as possible</h3>
 <p>As app messages might be sent as text messages, you should keep messages as short as possible. <a href="/send-accessible-messages">[ANCHOR LINK] Find out more about text message fragments</a>.</p>

 <!-- Out of scope for first iteration
 <h3>Example uses of app messages</h3>
<ul>
  <li>Routine appointment confirmations, reminders, changes and cancellations.</li> 
  <li>Communicating negative (clear) test results.</li>
  <li>Links to patient advice, for example a page on the NHS website.</li>
  <li>Invitations for vaccinations or screening.</li>
  <li>Invitations to complete a survey or questionnaire.</li>
  <li>Public health campaign messages.</li>
  <li>Announcements related to policies or other changes relevant to patients.</li>
</ul>-->
<h2>Emails</h2>
<p>Sending an email is free. It can be more convenient and accessible than a paper letter.</p>
 <!-- Out of scope for first iteration
  <h3>Example uses of email</h3>
<ul>
  <li>Appointment confirmations when there is a lot of information the patient needs to know, like any specific things they need to do before the appointment.</li>
  <li>Copies of letters, for example from a consultant.</li>
  <li>Patient information leaflets</li>
      </ul>-->
      <p>Your email could end up in a patient's junk folder or they might not trust it is from the NHS. <a href="/send-messages-that-patients-trust">Find out more about sending messages that patients trust</a>.</p>
<h2>Text messages (SMS)</h2>
<p>Sending text messages costs the NHS millions of pounds each year.</p>
<!-- Out of scope for first iteration
<p>Text messages should only be sent if:</p>
<ul>
  <li>the patient does not have the NHS App</li>
  <li>you are requesting information that is needed quickly</li>
      </ul>
      <h3>Example uses of text messages</h3>
      <p>Urgent requests for the patient:</p>
      <ul>
        <li>to send a photo to a clinician</li>
        <li>to join a video consultation</li>
        <li>to complete a form or send a document</li>
            </ul>-->
      <h3>Text message fragments</h3>
      <p>A fragment is 1 standard text message, around 160 characters long. Each fragment costs about 1.85p.</p>
      <p>You should keep text messages as short as possible but make sure you include all the information the patient needs to know.</p>
      <p>Following our <a href="https://service-manual.nhs.uk/content/how-we-write">content style guide</a> can help you to write messages clearly and concisely.</p>
<p>If you use templates for your messages, check the fragment length and remove any words that are not needed.</p>
<p>Look at our <a href="/suggested-wording-for-common-messages">suggested wording for common messages</a>, which have been tested with patients and are as short as possible.</p>
<h2>Paper letters</h2> 
<p>Sending a paper letter costs at least [£XX.XX].</p>
<p>Paper letters should only be sent:</p>
<ul>
  <li>if you cannot send an app message, email or text message</li>
  <li>if the patient has a communication need, for example large print</li>
      </ul>  
      <h2>Create a communications policy</h2>
      <p>You should have a communications policy that outlines what types of messages will be sent to patients. NHS England has created a <a href="https://transform.england.nhs.uk/information-governance/guidance/template-email-and-text-message-communications/">template for email and text message communications</a>.</p>
</div>  

  </div>
{% endblock %}
