{% extends 'layout.html' %}

{% block pageTitle %}
  How to write effective messages
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">
      <div class="app-pane__side-bar">
        <nav class="app-side-nav">
        
            <h2 class="app-side-nav__heading">Nav heading 1</h2>
            <ul class="nhsuk-list app-side-nav__list">
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 1</a>
              </li>
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 2</a>
              </li>
            </ul>
            <h2 class="app-side-nav__heading">Nav heading 2</h2>
            <ul class="nhsuk-list app-side-nav__list">
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 1</a>
              </li>
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 2</a>
              </li>
            </ul>
            
        </nav>
      </div>
    </div>
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Add your content here -->
      <h1 class="nhsuk-heading-xl">nhsuk-heading-xl</h1>
      <p class="nhsuk-body">nhsuk-body</p>
      <h2 class="nhsuk-heading-l">nhsuk-heading-l</h2>
      <p class="nhsuk-body">nhsuk-body</p>
      <h3 class="nhsuk-heading-m">nhsuk-heading-m</h3>
      <p class="nhsuk-body">nhsuk-body</p>
      <h4 class="nhsuk-heading-s">nhsuk-heading-s</h4>
      <p class="nhsuk-body">nhsuk-body</p>
      <h5 class="nhsuk-heading-xs">nhsuk-heading-xs</h5>
      <p class="nhsuk-body">nhsuk-body</p>

    </div>  

  </div>
{% endblock %}
