{% extends 'layout-index.html' %}



{% block beforeContent %}



{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      
    
     

      <!-- Add your content here -->
      
      <h1 class="nhsuk-heading-xl">Research prototypes</h1>
      <p class="nhsuk-body-l">These prototypes are split out by project phases.</p>
      
      <div class="nhsuk-tabs" data-module="nhsuk-tabs">
        <h2 class="nhsuk-tabs__title">
          Research prototypes
        </h2>
      
        <ul class="nhsuk-tabs__list">
      
          <li class="nhsuk-tabs__list-item nhsuk-tabs__list-item--selected">
            <a class="nhsuk-tabs__tab" href="#primary-care-alpha">
              Primary Care Alpha
            </a>
            
          </li>
      
          <!--<li class="nhsuk-tabs__list-item">
            <a class="nhsuk-tabs__tab" href="#secondary-care-alpha">
              Secondary Care Alpha
            </a>
          </li>-->
      
        </ul>
      
        <div class="nhsuk-tabs__panel" id="primary-care-alpha">

          <h2 class="nhsuk-u-margin-bottom-5">Primary Care Alpha</h2>
          <h3 class="nhsuk-u-margin-bottom-5">Current version</h3>
        <h4 class="nhsuk-u-margin-bottom-2"><a class="nhsuk-link--no-visited-state" href="/primary-care-em-toolkit/v5/primary-care-em-toolkit-index">v5</a></h4>
        <p class="nhsuk-u-reading-width">Fifth iteration of Effective Messaging Toolkit for Primary Care.</p>
        <p class="nhsuk-u-reading-width">Iterations made following an NHS.UK content crit and subsequent feedback:</p>

        <h4><a href="/primary-care-em-toolkit/v5/primary-care-em-toolkit-index">Message senders toolkit checklist</a></h4>
        
          <h5>Navigation and lede paragraph</h5>
          <ul>
          <li>Changed page title and left hand nav on content guide index page to ‘How to send effective messages to patients’.</li>
          <li>Changed lede paragraph to:</li>
          <p>This guide is for people who create and send messages to patients in NHS primary and secondary care.</p> 
          <p>Specifically, if you're a GP practice manager, receptionist or work in administration support and you need to create and send messages to patients as part of your role, this guidance will help you to make them more effective.</p>
          </ul>
          
          <h5>1. Choose the right communication channel</h5>
          <ul>
          <li>Changed link text to 'Find out more about choosing the right communication channels for your messages.</li>
          </ul>

          <h5>2. Make sure messages are accessible and inclusive </h5>
          <ul>
          <li>In 'Essential', updated bullets 1 and 2 to add a link and examples of accessible formats.</li>
          <li>In 'Best practice', updated bullet 1 to add a link to NHS content guide.</li>
          </ul>

          <h5>4. Make sure messages are appropriate and relevant</h5>
          <ul>
          <li>In 'Essential', added new bullet and a link for consent if a message is considered direct marketing and added an example of a 'specific group of people'.</li>
          <li>In 'Best practice', added link to voice and tone guidance and add content to clarify adding a banner or a social post is instead of a message.</li>
          </ul>
      
          <h4><a href="/primary-care-em-toolkit/v5/communication-channels-for-messages">Communication channels for messages</a></h4>
          
          <h5>General changes</h5>
          <ul>
          <li>Updated any reference to 'app messages' to 'NHS App messages' so more specific and clear which app we're referring to.</li>
          <li>Added some links to NHS content and voice and tone guide when they are referenced.</li>
          <li>Removed some anchor links to other sections on the same page to reduce confusion.</li>
          </ul>
          
          
          <h5>Introduction</h5>
          <ul>
          <li>Re-worked intro to make this section clearer by adding an example of fallback logic or removing the 2nd paragraph - also made it clear this section includes information on how to write messages for each channel.</li>
          <li>Moved 'It is important to understand the costs and benefits of each channel.' to a new paragraph.</li>
          <li>Removed 'Avoid sending the same message using more than one channel at the same time. This can overwhelm patients. It also increases costs for the NHS.'</li>
          </ul>
          
          <h5>Send messages that patients can understand </h5>
          <ul>
          <li>Changed heading title to 'Send messages in a format that patients can access'.</li>
          </ul>

          <h5>App messages</h5>
          <ul>
          <li>Changed heading title to 'NHS App messages'</li>
          <li>Moved ‘Your messaging service supplier may already offer NHS App messaging.’ and 'Find out more about getting started with NHS App messaging (NHS Digital)' to intro section.</li>
          </ul>

          <h5 class="nhsuk-heading-xs">How to send messages through the NHS App </h5>
          <uL>
          <li>Removed bulleted links and added link text back in as full sentences.</li> 
          </uL>
          
          <h5 class="nhsuk-heading-xs">If a patient does not see an App message</h5>
          <ul>
          <li>Changed title to ‘If a patient does not open an NHS App message’.</li>
          <li>Changed ‘see’ to ‘open’ in main text.</li>
          <li>Added more context to cover different supplier settings.</li> 
          </ul>

          <h5 class="nhsuk-heading-xs">Keep NHS App messages as short as possible</h5>
          <ul>
          <li>Changed paragraph to be consistent with section above and the wording in the text messages section on making text messages shorter.</li>
          </ul>

          <h5>Text messages (SMS)</h5>
          <ul>
          <li>Removed anchor links as they’re confusing and there are already links to these sections in the nav.</li> 
          <li>Removed the word ‘more’ and added ‘if they’re able to’ about the NHS App.</li> 
          <li>Added extra context around keeping contact details up to date.</li> 
          <li>Removed content about running reports.</li> 
          </ul>

          <h5 class="nhsuk-heading-xs">Links in text messages</h5>
          <ul>
          <li>Removed whole section.</li>
          </ul>

          <h5>Emails</h5>
          <h5 class="nhsuk-heading-xs">Help patients trust your emails</h5>
          <ul>
          <li>Moved link text to new line.</li>
          </ul>

          <h5>Paper letters</h5>
          <ul>
          <li>Removed reference to Royal Mail./li>
          <li>Changed pence to ‘p’.</li>
          <li>Made costs element more ambiguous due to costs not known.</li>
          </ul>


        <h4><a href="/primary-care-em-toolkit/v5/send-accessible-messages">Send accessible and inclusive messages</a></h4>
        
        <h5>Who the Accessible Information Standard might apply to</h5>
        <ul>
        <li>Re-wrote lead-in text so it works for a bulleted list:  </li>
        </ul>

        <h5>Digital formats</h5>
        <ul>
        <li>Changed title to 'Digital formats (email and text messages)'.</li>
        <li>Changed reference of 'preferred technology' to 'this technology'.</li>
        </ul>

        <h5>Alternative formats (accessible formats) </h5>
        <ul>
        <li>Added examples and context for Easy Read, Makaton and Textphone.</li>
        </ul>

        <h5>Translating message content into other languages</h5>
        <ul>
        <li>Added extra information about NHS translation procurement policies.</li>
        </ul>

         

      
        <h4><a href="/primary-care-em-toolkit/v5/send-messages-that-patients-trust">Send messages that patients trust</a></h4>
      
      
        <h5>Links</h5>
        <ul>
          <li>Removed whole section.</li>
          </ul>
      
        <h5>Protecting people from spam or phishing</h5>
        <ul>
          <li>Removed guidance on writing full links.</li>
          </ul>
      
      <h4><a href="/primary-care-em-toolkit/v5/send-messages-that-are-appropriate-and-relevant">Send messages that are appropriate and relevant</a></h4>
        
      <h5>Confidential content</h5>
      <ul>
          <li>Changed content about updating contact details to make it clear it's good practice to check patient contact details regularly when they are spoken to, and to make sure data is entered accurately.</li>
          <li>Removed guidance on running reports on clinical systems.</li>
        </ul>





















































































































     
        <p class="nhsuk-body-s grey-text">Last updated: April 2024</p>
      
          <table role="table" class="nhsuk-table-responsive">
            <caption class="nhsuk-table__caption">Version log</caption>
            <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <th role="columnheader" class="" scope="col">
                  Version
                </th>
                <th role="columnheader" class="" scope="col">
                  Description
                </th>
                <th role="columnheader" class="" scope="col">
                  Last updated
                </th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Version</span><a class="nhsuk-link--no-visited-state" href="/primary-care-em-toolkit/v4/primary-care-em-toolkit-index">v4</a>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description</span>
                  
        <p class="nhsuk-u-reading-width">Fourth iteration of Effective Messaging Toolkit for Primary Care.</p>
        <p class="nhsuk-u-reading-width">Iterations made following round 3 of toolkit co-design workshops:</p>
       
          <p><a href="/primary-care-em-toolkit/v4/primary-care-em-toolkit-index">Message senders toolkit checklist</a></p>
          <ul>
            <li>added in bullet about using simple language</li>
            <li>changed linking approach so there is a single link for each section to find out more</li>
            <li>changed styling on numbered list as requested by Sarah Wilcox (Service Manual team)</li>
            <li>edited content to make reading age as low as possible</li>
            </ul>
        
            <p><a href="/primary-care-em-toolkit/v4/communication-channels-for-messages">Communication channels for messages</a></p>
          <ul>
            <li>introduced nested sub-nav for each communication channel (app messages, text messages, etc.)</li>
            <li>changed terminology for 'message services' to be consistent with NHS App guidance</li>
            <li>changed terminology to 'batch messages to multiple patients'</li>
            <li>added content to clarify <i>how</i> messages are sent through the NHS app</li>
            <li>made 1st para of 'if a patient does not see an app message' clearer</li>
            <li>included relevant headlines of Scope article within content, rather than linking out (in email section)</li>
            <li>changed title of sub-heading about sending fewer fragments</li>  
            <li>edited content to make reading age as low as possible</li>
          </ul>
        
          <p><a href="/primary-care-em-toolkit/v4/send-accessible-messages">Send accessible and inclusive messages</a></p>
          <ul>
            <li>added content to explain more about assistive technology and how users can make sure their message content will be understood by users of these technologies</li>
            <li>added inline examples to show a similar message with a high and low reading age</li>
            <li>added phone call with a translator as another option on the bullet list in translations section</li>
            <li>changed trauma-informed quote to clarify that people not experiencing stress and trauma also confused 'appointment' and 'referral' (after discussion with Miriam from Wayfinder)</li>
            <li>edited content to make reading age as low as possible</li>
          </ul>
        
        
        <p><a href="/primary-care-em-toolkit/v4/send-messages-that-patients-trust">Send messages that patients trust</a></p>
          <ul>
            <li>added a research insight about patients not trusting shortened links</li>
            <li>clarified that content about asking for DOB is not referring to someone accessing secure messages on Accurx</li>
            <li>moved GDPR content to the 'send relevant, personalised and appropriate' messages page</li>
            <li>edited content to make reading age as low as possible</li>
          </ul>
        
        
        <p><a href="/primary-care-em-toolkit/v4/send-messages-that-are-appropriate-and-relevant">Send messages that are appropriate and relevant
        </a></p>
          <ul>
            <li>changed content to refer to clinical system as way to identify groups of patients</li>
            <li>rephrased content about avoiding sending messages to large groups to make it clearer there is sometimes a need for this</li>
            <li>added content about potential implications for the patient of including confidential content in a message</li>
            <li>edited content to make reading age as low as possible</li>
            <li>moved GDPR content to this page</li>
            <li>edited content to make reading age as low as possible</li>
          </ul>
        
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Last updated</span>March 2024
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Version</span><a class="nhsuk-link--no-visited-state" href="/primary-care-em-toolkit/v3/primary-care-em-toolkit-index">v3</a>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description</span>
                  <p class="nhsuk-u-reading-width">Third iteration of Effective Messaging Toolkit for Primary Care.</p>
                  <p class="nhsuk-u-reading-width">The index page for the toolkit has been iterated following the previous round of co-design workshops to include a checklist of main best practice for sending effective messages:
                  </p>
                  <ul>
                    <li><a href="primary-care-em-toolkit/v3/primary-care-em-toolkit-index">Message senders toolkit checklist</a></li>
                  </ul></p>
                  <p class="nhsuk-u-reading-width">These pages have been added for testing in the next round of research:
                  </p>
                  <ul>
                    <li><a href="primary-care-em-toolkit/v3/send-messages-that-are-appropriate-and-relevant">Send messages that are personalised, appropriate and relevant</a></li>
                  </ul></p>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Last updated</span>February 2024
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Version</span><a class="nhsuk-link--no-visited-state" href="/primary-care-em-toolkit/v2/primary-care-em-toolkit-index">v2</a>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description</span>
                  <p class="nhsuk-u-reading-width">Second iteration of Effective Messaging Toolkit for Primary Care.</p>
                  <p class="nhsuk-u-reading-width">These pages have been added for testing in the next round of research:</p>
                  <ul>
                    <li><a href="primary-care-em-toolkit/v2/send-messages-that-patients-trust">Send messages that patients trust</a></li>
                    <li><a href="primary-care-em-toolkit/v2/send-accessible-messages">Send accessible messages</a></li>
                  </ul></p>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Last updated</span>January 2024
                </td>
              </tr>
              
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Version</span><a class="nhsuk-link--no-visited-state" href="/primary-care-em-toolkit/v1/primary-care-em-toolkit-index">v1</a>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description</span>First iteration of Effective Messaging Toolkit for Primary Care.
                  <p></p><ul>
                    <li><a href="primary-care-em-toolkit/v1/communication-channels-for-messages">Communication channels for messages</a></li>
                  </ul></td></p>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Last updated</span>January 2024
                </td>
              </tr>
            </tbody>
          </table>
      
        </div>
      
        <!-- <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="secondary-care-alpha">
      
          <h2 class="nhsuk-u-margin-bottom-5">Secondary Care Alpha</h2>
        <h4 class="nhsuk-u-margin-bottom-2"><a class="nhsuk-link--no-visited-state" href="#">v1 </a></h4>
        <p class="nhsuk-u-reading-width">First iteration of Secondary Care Alpha toolkit.</p>
        <ul>
          <li><a href="#">TBC</a></li>
        </ul>
        
     
        <p class="nhsuk-body-s grey-text">Last updated: TBC</p>
      
          <table role="table" class="nhsuk-table-responsive">
            <caption class="nhsuk-table__caption">Previous versions</caption>
            <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <th role="columnheader" class="" scope="col">
                  Version
                </th>
                <th role="columnheader" class="" scope="col">
                  Description
                </th>
                <th role="columnheader" class="" scope="col">
                  Last updated
                </th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Version</span>v1
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description</span>First iteration of Effective Messaging Toolkit for Secondary Care.
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Last updated</span>TBC
                </td>
              </tr>
            </tbody>
          </table>
      
        </div> -->
      
        
      
      </div>
      

  </div>
{% endblock %}
