{% extends 'layout-index.html' %}



{% block beforeContent %}



{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      
    
     

      <!-- Add your content here -->
      
      <h1 class="nhsuk-heading-xl">Research prototypes</h1>
      <p class="nhsuk-body-l">These prototypes are split out by project phases.</p>
      
      <div class="nhsuk-tabs" data-module="nhsuk-tabs">
        <h2 class="nhsuk-tabs__title">
          Research prototypes
        </h2>
      
        <ul class="nhsuk-tabs__list">
      
          <li class="nhsuk-tabs__list-item nhsuk-tabs__list-item--selected">
            <a class="nhsuk-tabs__tab" href="#primary-care-alpha">
              Primary Care Alpha
            </a>
            
          </li>
      
          <!--<li class="nhsuk-tabs__list-item">
            <a class="nhsuk-tabs__tab" href="#secondary-care-alpha">
              Secondary Care Alpha
            </a>
          </li>-->
      
        </ul>
      
        <div class="nhsuk-tabs__panel" id="primary-care-alpha">

          <h2 class="nhsuk-u-margin-bottom-5">Primary Care Alpha</h2>
          <h3 class="nhsuk-u-margin-bottom-5">Current version</h3>
        <h4 class="nhsuk-u-margin-bottom-2"><a class="nhsuk-link--no-visited-state" href="/primary-care-em-toolkit/v1/primary-care-em-toolkit-index">v1 </a></h4>
        <p class="nhsuk-u-reading-width">First iteration of Effective Messaging Toolkit for Primary Care.</p>
        <ul>
          <li><a href="primary-care-em-toolkit/v1/communication-channels-for-messages">Communication channels for messages</a></li>
        </ul>
        
     
        <p class="nhsuk-body-s grey-text">Last updated: January 2024</p>
      
          <table role="table" class="nhsuk-table-responsive">
            <caption class="nhsuk-table__caption">Previous versions</caption>
            <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <th role="columnheader" class="" scope="col">
                  Version
                </th>
                <th role="columnheader" class="" scope="col">
                  Description
                </th>
                <th role="columnheader" class="" scope="col">
                  Last updated
                </th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Version</span><a class="nhsuk-link--no-visited-state" href="/primary-care-em-toolkit/v1/primary-care-em-toolkit-index">v1</a>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description</span>First iteration of Effective Messaging Toolkit for Primary Care.
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Last updated</span>January 2024
                </td>
              </tr>
            </tbody>
          </table>
      
        </div>
      
        <!-- <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="secondary-care-alpha">
      
          <h2 class="nhsuk-u-margin-bottom-5">Secondary Care Alpha</h2>
        <h4 class="nhsuk-u-margin-bottom-2"><a class="nhsuk-link--no-visited-state" href="#">v1 </a></h4>
        <p class="nhsuk-u-reading-width">First iteration of Secondary Care Alpha toolkit.</p>
        <ul>
          <li><a href="#">TBC</a></li>
        </ul>
        
     
        <p class="nhsuk-body-s grey-text">Last updated: TBC</p>
      
          <table role="table" class="nhsuk-table-responsive">
            <caption class="nhsuk-table__caption">Previous versions</caption>
            <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <th role="columnheader" class="" scope="col">
                  Version
                </th>
                <th role="columnheader" class="" scope="col">
                  Description
                </th>
                <th role="columnheader" class="" scope="col">
                  Last updated
                </th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Version</span>v1
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description</span>First iteration of Effective Messaging Toolkit for Secondary Care.
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Last updated</span>TBC
                </td>
              </tr>
            </tbody>
          </table>
      
        </div> -->
      
        
      
      </div>
      

  </div>
{% endblock %}
