{% extends 'layout-index.html' %}



{% block beforeContent %}



{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      
    
     

      <!-- Add your content here -->
      
      <h1 class="nhsuk-heading-xl">Research prototypes</h1>
      <p class="nhsuk-body-l">These prototypes are split out by project phases.</p>
      
      <div class="nhsuk-tabs" data-module="nhsuk-tabs">
        <h2 class="nhsuk-tabs__title">
          Research prototypes
        </h2>
      
        <ul class="nhsuk-tabs__list">
      
          <li class="nhsuk-tabs__list-item nhsuk-tabs__list-item--selected">
            <a class="nhsuk-tabs__tab" href="#primary-care-alpha">
              Primary Care Alpha
            </a>
            
          </li>
      
          <!--<li class="nhsuk-tabs__list-item">
            <a class="nhsuk-tabs__tab" href="#secondary-care-alpha">
              Secondary Care Alpha
            </a>
          </li>-->
      
        </ul>
      
        <div class="nhsuk-tabs__panel" id="primary-care-alpha">

          <h2 class="nhsuk-u-margin-bottom-5">Primary Care Alpha</h2>
          <h3 class="nhsuk-u-margin-bottom-5">Current version</h3>
        <h4 class="nhsuk-u-margin-bottom-2"><a class="nhsuk-link--no-visited-state" href="/primary-care-em-toolkit/v4/primary-care-em-toolkit-index">v4</a></h4>
        <p class="nhsuk-u-reading-width">Fourth iteration of Effective Messaging Toolkit for Primary Care.</p>
        <p class="nhsuk-u-reading-width">Iterations made following round 3 of toolit co-design workshops:</p>
        <ul>
          <li><a href="/primary-care-em-toolkit/v4/primary-care-em-toolkit-index">Message senders toolkit checklist</a></li>
          <ul>
            <li>added in bullet about using simple language</li>
            <li>changed linking approach so there is a single link for each section to find out more</li>
            <li>changed styling on numbered list as requested by Sarah Wilcox (Service Manual team)</li>
            <li>edited content to make reading age as low as possible</li>
            </ul>
        <ul>
          <li><a href="/primary-care-em-toolkit/v4/communication-channels-for-messages">Communication channels for messages</a></li>
          <ul>
            <li>introduced nested sub-nav for each communication channel (app messages, text messages, etc.)</li>
            <li>changed terminology for 'message services' to be consistent with NHS App guidance</li>
            <li>changed terminology to 'batch messages to multiple patients'</li>
            <li>added content to clarify <i>how</i> messages are sent through the NHS app</li>
            <li>made 1st para of 'if a patient does not see an app message' clearer</li>
            <li>included relevant headlines of Scope article within content, rather than linking out (in email section)</li>
            <li>changed title of sub-heading about sending fewer fragments</li>  
            <li>edited content to make reading age as low as possible</li>
          </ul>
        <ul>
          <li><a href="/primary-care-em-toolkit/v4/send-accessible-messages">Send accessible and inclusive messages</a></li>
          <ul>
            <li>added content to explain more about assistive technology and how users can make sure their message content will be understood by users of these technologies</li>
            <li>added inline examples to show a similar message with a high and low reading age</li>
            <li>added phone call with a translator as another option on the bullet list in translations section</li>
            <li>changed trauma-informed quote to clarify that people not experiencing stress and trauma also confused 'appointment' and 'referral' (after discussion with Miriam from Wayfinder)</li>
            <li>edited content to make reading age as low as possible</li>
          </ul>
        <li><a href="/primary-care-em-toolkit/v4/send-messages-that-patients-trust">Send messages that patients trust</a></li>
          <ul>
            <li>added a research insight about patients not trusting shortened links</li>
            <li>clarified that content about asking for DOB is not referring to someone accessing secure messages on Accurx</li>
            <li>moved GDPR content to the 'send relevant, personalised and appropriate' messages page</li>
            <li>edited content to make reading age as low as possible</li>
          </ul>
        <li><a href="/primary-care-em-toolkit/v4/send-messages-that-are-appropriate-and-relevant">Send messages that are appropriate and relevant
        </a></li>
          <ul>
            <li>changed content to refer to clinical system as way to identify groups of patients</li>
            <li>rephrased content about avoiding sending messages to large groups to make it clearer there is sometimes a need for this</li>
            <li>added content about potential implications for the patient of including confidential content in a message</li>
            <li>edited content to make reading age as low as possible</li>
            <li>moved GDPR content to this page</li>
            <li>edited content to make reading age as low as possible</li>
          </ul>
     
        <p class="nhsuk-body-s grey-text">Last updated: February 2024</p>
      
          <table role="table" class="nhsuk-table-responsive">
            <caption class="nhsuk-table__caption">Version log</caption>
            <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <th role="columnheader" class="" scope="col">
                  Version
                </th>
                <th role="columnheader" class="" scope="col">
                  Description
                </th>
                <th role="columnheader" class="" scope="col">
                  Last updated
                </th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Version</span><a class="nhsuk-link--no-visited-state" href="/primary-care-em-toolkit/v3/primary-care-em-toolkit-index">v3</a>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description</span>
                  <p class="nhsuk-u-reading-width">Third iteration of Effective Messaging Toolkit for Primary Care.</p>
                  <p class="nhsuk-u-reading-width">The index page for the toolkit has been iterated following the previous round of co-design workshops to include a checklist of main best practice for sending effective messages:
                  </p>
                  <ul>
                    <li><a href="primary-care-em-toolkit/v3/primary-care-em-toolkit-index">Message senders toolkit checklist</a></li>
                  </ul></p>
                  <p class="nhsuk-u-reading-width">These pages have been added for testing in the next round of research:
                  </p>
                  <ul>
                    <li><a href="primary-care-em-toolkit/v3/send-messages-that-are-appropriate-and-relevant">Send messages that are personalised, appropriate and relevant</a></li>
                  </ul></p>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Last updated</span>February 2024
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Version</span><a class="nhsuk-link--no-visited-state" href="/primary-care-em-toolkit/v2/primary-care-em-toolkit-index">v2</a>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description</span>
                  <p class="nhsuk-u-reading-width">Second iteration of Effective Messaging Toolkit for Primary Care.</p>
                  <p class="nhsuk-u-reading-width">These pages have been added for testing in the next round of research:</p>
                  <ul>
                    <li><a href="primary-care-em-toolkit/v2/send-messages-that-patients-trust">Send messages that patients trust</a></li>
                    <li><a href="primary-care-em-toolkit/v2/send-accessible-messages">Send accessible messages</a></li>
                  </ul></p>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Last updated</span>January 2024
                </td>
              </tr>
              
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Version</span><a class="nhsuk-link--no-visited-state" href="/primary-care-em-toolkit/v1/primary-care-em-toolkit-index">v1</a>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description</span>First iteration of Effective Messaging Toolkit for Primary Care.
                  <p></p><ul>
                    <li><a href="primary-care-em-toolkit/v1/communication-channels-for-messages">Communication channels for messages</a></li>
                  </ul></td></p>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Last updated</span>January 2024
                </td>
              </tr>
            </tbody>
          </table>
      
        </div>
      
        <!-- <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="secondary-care-alpha">
      
          <h2 class="nhsuk-u-margin-bottom-5">Secondary Care Alpha</h2>
        <h4 class="nhsuk-u-margin-bottom-2"><a class="nhsuk-link--no-visited-state" href="#">v1 </a></h4>
        <p class="nhsuk-u-reading-width">First iteration of Secondary Care Alpha toolkit.</p>
        <ul>
          <li><a href="#">TBC</a></li>
        </ul>
        
     
        <p class="nhsuk-body-s grey-text">Last updated: TBC</p>
      
          <table role="table" class="nhsuk-table-responsive">
            <caption class="nhsuk-table__caption">Previous versions</caption>
            <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <th role="columnheader" class="" scope="col">
                  Version
                </th>
                <th role="columnheader" class="" scope="col">
                  Description
                </th>
                <th role="columnheader" class="" scope="col">
                  Last updated
                </th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Version</span>v1
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description</span>First iteration of Effective Messaging Toolkit for Secondary Care.
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Last updated</span>TBC
                </td>
              </tr>
            </tbody>
          </table>
      
        </div> -->
      
        
      
      </div>
      

  </div>
{% endblock %}
