{% extends 'layout.html' %}

{% block pageTitle %}
  Messaging patients
{% endblock %}

{% block beforeContent %}
{% from 'breadcrumb/macro.njk' import breadcrumb %}

{{ breadcrumb({
  items: [
    {
      href: "/#",
      text: "Home"
    }
  ],
  href: "/index",
  text: "Messaging patients"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">
      <div class="app-pane__side-bar">
        <nav class="app-side-nav">
        
          <h2 class="app-side-nav__heading">Messaging patients</h2>
          <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/decide-which-communication-channel-to-use">Communication channels for messages</a>
            </li> <!-- Out of scope for first iteration 
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/send-accessible-messages">Send accessible messages</a>
            </li> -->
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/send-messages-that-patients-trust">Send messages that patients trust</a>
            </li> <!-- Out of scope for first iteration 
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/personalise-messages">Personalise messages</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/reach-digitally-excluded-patients">Reach digitally excluded patients</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/suggested-wording-for-common-messages">Suggested wording for common messages</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/measure-the-success-of-your-messages">Measure the success of your messages</a>
            </li> -->
          </ul>
        </nav>
      </div>
    </div>
    <div class="nhsuk-grid-column-two-thirds"> 

      <!-- Add your content here -->
      <h1 class="nhsuk-heading-xl">Send messages that patients trust</h1>
      <p class="nhsuk-body-l">To help patients act on the messages we send them, it’s important that they can trust that messages are safe, secure and have genuinely been sent by the NHS. </p>
      

      <h2 class="nhsuk-heading-l">Sender names on text messages</h2>
      <p class="nhsuk-body">The text address which appears on a text message in place of the sending telephone number is called a SenderID.</p>
      <p class="nhsuk-body">Using an appropriate SenderID can help build trust with message recipients. </p>
      <p class="nhsuk-body">You should use <a href="https://mobileecosystemforum.com/sms-senderid-protection-registry/">MEF-registered (official) SenderIDs.</a></p>
      
      {% from 'tables/macro.njk' import table %}

{{ table({
  panel: false,
  caption: "Example of an appropriate SenderID",
  firstCellIsHeader: false,
  head: [
    {
      text: "Do not use"
    },
    {
      text: "Use"
    }
  ],
  rows: [
    [
      {
        text: "[+4478…] sent you a message"
      },
      {
        text: "[Servicename] sent you a message"
      }
    ]
  ]
}) }}
 
      <p class="nhsuk-body"><a href="https://www.ncsc.gov.uk/guidance/business-communications-sms-and-telephone-best-practice#section_3:~:text=grounds%20for%20concern.-,SenderID,-considerations">Find out more about selecting appropriate SenderIDs</a></p>
      
      <h2 class="nhsuk-heading-l">Email addresses</h2>
      <p class="nhsuk-body"></p>

      <h2 class="nhsuk-heading-l">Email subject lines</h2>
      <p class="nhsuk-body"></p>

      <h2 class="nhsuk-heading-l">Links</h2>
      <p class="nhsuk-body"></p>

      <h2 class="nhsuk-heading-l">Patient consent for you to send messages </h2>
      <p class="nhsuk-body">Make sure your messages follow UK GDPR and data protection legislation. <a href="https://transform.england.nhs.uk/information-governance/guidance/what-is-and-isnt-direct-marketing/">Find out what types of healthcare messages are considered direct marketing.</a></p>

      <h2 class="nhsuk-heading-l"></h2>
      <p class="nhsuk-body"></p>


    </div>  

  </div>
{% endblock %}
