{% extends 'layout.html' %}

{% block pageTitle %}
  Messaging patients
{% endblock %}

{% block beforeContent %}
{% from 'breadcrumb/macro.njk' import breadcrumb %}

{{ breadcrumb({
  items: [
    {
      href: "/#",
      text: "Home"
    }
  ],
  href: "/index",
  text: "Messaging patients"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">
      <div class="app-pane__side-bar">
        <nav class="app-side-nav">
        
          <h2 class="app-side-nav__heading">Messaging patients</h2>
          <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/decide-which-communication-channel-to-use">Communication channels for messages</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/send-accessible-messages">Send accessible messages</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/send-messages-that-patients-trust">Send messages that patients trust</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/personalise-messages">Personalise messages</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/reach-digitally-excluded-patients">Reach digitally excluded patients</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/suggested-wording-for-common-messages">Suggested wording for common messages</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/measure-the-success-of-your-messages">Measure the success of your messages</a>
            </li>
          </ul>
            <!-- Out of scope for first iteration 
            <h2 class="app-side-nav__heading">Send accessible messages</h2>
            <ul class="nhsuk-list app-side-nav__list">
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 1</a>
              </li>
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 2</a>
              </li>
            </ul>
            <h2 class="app-side-nav__heading">Send messages that patients trust</h2>
            <ul class="nhsuk-list app-side-nav__list">
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 1</a>
              </li>
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 2</a>
              </li>
            </ul>
            <h2 class="app-side-nav__heading">Personalise messages</h2>
            <ul class="nhsuk-list app-side-nav__list">
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 1</a>
              </li>
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 2</a>
              </li>
            </ul>
            <h2 class="app-side-nav__heading">How to reach digitally excluded patients</h2>
            <ul class="nhsuk-list app-side-nav__list">
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 1</a>
              </li>
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 2</a>
              </li>
            </ul>
            <h2 class="app-side-nav__heading">Suggested wording for common messages</h2>
            <ul class="nhsuk-list app-side-nav__list">
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 1</a>
              </li>
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 2</a>
              </li>
            </ul>
            <h2 class="app-side-nav__heading">Measure the success of your messages</h2>
            <ul class="nhsuk-list app-side-nav__list">
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 1</a>
              </li>
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 2</a>
              </li>
            </ul>-->
            
        </nav>
      </div>
    </div>
    <div class="nhsuk-grid-column-two-thirds"> 

      <!-- Add your content here -->
      <h1 class="nhsuk-heading-xl">Send accessible and inclusive messages</h1>
      <p class="nhsuk-body-l">Content TBC</p>
      <h2>Make standard messages accessible</h2>
      <p class="nhsuk-body">Aim to make all the text messages, emails and app messages you send accessible to people who:</p>
      <ul>
        <li>use assistive technology, like a screenreader</li>
        <li>have a low level of literacy</li>
        <li>have low numeracy</li>
        <li>have a learning difficulty or autism</li>
      </ul>
      <p>This will reduce the number of messages you need to send in accessible formats. These are also known as accessible formats.</p>
      <p>Use our <a href="https://service-manual.nhs.uk/content/how-we-write">content guide</a> to write messages that are:</p>
      <u>
        <li>clear and in in plain English, so someone with a reading age of 9 to 11 years can understand them</li>
        <li>concise, with short sentences and paragraphs</li>
        <li>in the active voice, not passive voice</li>
      </u>
      <p>Specific pages of the content guide tell you how to:</p>
      <ul>
        <li><a href="https://service-manual.nhs.uk/content/a-to-z-of-nhs-health-writing">use words and phrases that patients understand</a></li>
        <li><a href="https://service-manual.nhs.uk/content/formatting-and-punctuation">use formatting and punctuation</a></li>
        <li><a href="https://service-manual.nhs.uk/content/numbers-measurements-dates-time">write numbers, measurements, dates and times</a></li>
        <li><a href="https://service-manual.nhs.uk/content/links">use links</a></li>
      </ul>
      <p>The GOV.UK style guide also has a <a href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style#:~:text=a%20brand%20name.-,Words%20to%20avoid,-Plain%20English%20is">useful list of words to avoid, with plain English alternatives</a>.</p>
    <p>The messages you send might include links to your website. <a href="https://www.england.nhs.uk/long-read/creating-a-highly-usable-and-accessible-gp-website-for-patients/">Find out how to make your website usable and accessible for patients.</a></p>
    </div>  

  </div>
{% endblock %}
