{% extends 'layout.html' %}

{% block pageTitle %}
  Messaging patients
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">
      <div class="app-pane__side-bar">
        <nav class="app-side-nav">
        
          <h2 class="app-side-nav__heading">Decide what type of message to send</h2>
          <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/when-to-send-a-text-message">When to send a text message</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/when-to-send-an-email">When to send an email</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/when-to-send-an-app-message">When to send an app message</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/time-critical-content">Time critical content</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/when-to-send-a-letter">When to send a letter</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/patient-preferences">Patient preferences</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/what-types-of-messages-are-you-allowed-to-send">What types are messages are you allowed to send without getting specific consent?</a>
            </li>
          </ul>
            <!-- Out of scope for first iteration 
            <h2 class="app-side-nav__heading">Send accessible messages</h2>
            <ul class="nhsuk-list app-side-nav__list">
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 1</a>
              </li>
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 2</a>
              </li>
            </ul>
            <h2 class="app-side-nav__heading">Send messages that patients trust</h2>
            <ul class="nhsuk-list app-side-nav__list">
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 1</a>
              </li>
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 2</a>
              </li>
            </ul>
            <h2 class="app-side-nav__heading">Personalise messages</h2>
            <ul class="nhsuk-list app-side-nav__list">
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 1</a>
              </li>
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 2</a>
              </li>
            </ul>
            <h2 class="app-side-nav__heading">How to reach digitally excluded patients</h2>
            <ul class="nhsuk-list app-side-nav__list">
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 1</a>
              </li>
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 2</a>
              </li>
            </ul>
            <h2 class="app-side-nav__heading">Suggested wording for common messages</h2>
            <ul class="nhsuk-list app-side-nav__list">
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 1</a>
              </li>
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 2</a>
              </li>
            </ul>
            <h2 class="app-side-nav__heading">Measure the success of your messages</h2>
            <ul class="nhsuk-list app-side-nav__list">
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 1</a>
              </li>
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="#">Item 2</a>
              </li>
            </ul>-->
            
        </nav>
      </div>
    </div>
    <div class="nhsuk-grid-column-two-thirds"> 

      <!-- Add your content here -->
      <h1 class="nhsuk-heading-xl">Time critical content</h1>
      <p class="nhsuk-body-l">Content TBC</p>
      <p class="nhsuk-body">Content TBC</p>

    </div>  

  </div>
{% endblock %}
