{% extends 'layout.html' %}

{% block pageTitle %}
  Messaging patients
{% endblock %}

{% block beforeContent %}
{% from 'breadcrumb/macro.njk' import breadcrumb %}

{{ breadcrumb({
  items: [
    {
      href: "/primary-care-em-toolkit/v4/primary-care-em-toolkit-index",
      text: "Home"
    }
  ],
  href: "/primary-care-em-toolkit/v4/primary-care-em-toolkit-index",
  text: "Messaging patients"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">
      <div class="app-pane__side-bar">
        <nav class="app-side-nav">
          <h2 class="app-side-nav__heading">Messaging patients</h2>
          <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/primary-care-em-toolkit/v4/communication-channels-for-messages">Communication channels for messages</a>
            </li>
            <li class="app-side-nav__item app-side-nav__item--current">
              <a class="app-side-nav__link" href="/primary-care-em-toolkit/v4/app-messages">App messages</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/primary-care-em-toolkit/v4/text-messages">Text messages</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/primary-care-em-toolkit/v4/emails">Emails</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/primary-care-em-toolkit/v4/paper-letters">Paper letters</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/primary-care-em-toolkit/v4/send-accessible-messages">Send accessible and inclusive messages</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/primary-care-em-toolkit/v4/send-messages-that-patients-trust">Send messages that patients trust</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/primary-care-em-toolkit/v4/send-messages-that-are-appropriate-and-relevant">Send messages that are appropriate and relevant</a>
            </li>
            <!-- out of scope for this version 
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/reach-digitally-excluded-patients">Reach digitally excluded patients</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/suggested-wording-for-common-messages">Suggested wording for common messages</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/measure-the-success-of-your-messages">Measure the success of your messages</a>
            </li> -->
          </ul>
          
      </nav>
      </div>
    </div>
    <div class="nhsuk-grid-column-two-thirds"> 

      <!-- Add your content here -->
      <span class="nhsuk-caption-l">
        Content guide
        
        <span class="nhsuk-u-visually-hidden"> - </span>
      </span>
      <h1 class="nhsuk-heading-xl">App messages</h1>
      <p class="nhsuk-body-l">Sending a message through the NHS App is free and secure. It also means patients can manage all their healthcare information in one place.</p>
      <p><a href="https://digital.nhs.uk/services/nhs-app/nhs-app-guidance-for-gp-practices/guidance-on-nhs-app-features/nhs-app-messaging-service">Find out more about the benefits of NHS App messaging</a></p>   
<h2>How to send messages through the NHS App</h2>
<p class="nhsuk-body">Your messaging service supplier may already offer NHS App messaging. <a href="https://digital.nhs.uk/services/nhs-app/nhs-app-guidance-for-gp-practices/guidance-on-nhs-app-features/nhs-app-messaging-service#:~:text=and%20interactive%20elements.-,Getting%20started,-Speak%20to%20your">Find out more about getting started with NHS App messaging</a>.</p>
  <p>Patients need to download the NHS App and turn on their notifications before they can receive messages through the app. <a href="https://digital.nhs.uk/services/nhs-app/toolkit/nhs-app-messaging-promotional-materials">Find resources to promote NHS App messaging, including example text message templates</a>.</p>
 <p>Do not send an app message the tell the patient anything urgent.</p>
  <h2>If a patient does not see an app message</h2>
 <p class="nhsuk-body">If a patient does not see an app message notification or read the message, it will automatically be sent by text message, email or letter.</p>
 <p>Each messaging service supplier will have a different channel send order and timescales. Speak to your supplier to find out more.</p>
 <h2>Keep app messages as short as possible</h2>
 <p>App messages might also be sent as text messages if they haven't been read on the NHS App. Keep messages as short as possible to avoid unnecessary costs.</p>

 <!-- Out of scope for first iteration
 <h3>Example uses of app messages</h3>
<ul>
  <li>Routine appointment confirmations, reminders, changes and cancellations.</li> 
  <li>Communicating negative (clear) test results.</li>
  <li>Links to patient advice, for example a page on the NHS website.</li>
  <li>Invitations for vaccinations or screening.</li>
  <li>Invitations to complete a survey or questionnaire.</li>
  <li>Public health campaign messages.</li>
  <li>Announcements related to policies or other changes relevant to patients.</li>
</ul>-->
</div>  

  </div>
{% endblock %}
