{% extends 'layout.html' %}

{% block pageTitle %}
  Messaging patients
{% endblock %}

{% block beforeContent %}
{% from 'breadcrumb/macro.njk' import breadcrumb %}

{{ breadcrumb({
  items: [
    {
      href: "/primary-care-em-toolkit/v4/primary-care-em-toolkit-index",
      text: "Home"
    }
  ],
  href: "/primary-care-em-toolkit/v4/primary-care-em-toolkit-index",
  text: "Messaging patients"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">
      <div class="app-pane__side-bar">
        <nav class="app-side-nav">
        
          <h2 class="app-side-nav__heading">Messaging patients</h2>
          <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item app-side-nav__item--current">
              <a class="app-side-nav__link" href="/primary-care-em-toolkit/v4/communication-channels-for-messages">Communication channels for messages</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/primary-care-em-toolkit/v4/app-messages">App messages</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/primary-care-em-toolkit/v4/text-messages">Text messages</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/primary-care-em-toolkit/v4/emails">Emails</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/primary-care-em-toolkit/v4/paper-letters">Paper letters</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/primary-care-em-toolkit/v4/send-accessible-messages">Send accessible and inclusive messages</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/primary-care-em-toolkit/v4/send-messages-that-patients-trust">Send messages that patients trust</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/primary-care-em-toolkit/v4/send-messages-that-are-appropriate-and-relevant">Send messages that are appropriate and relevant</a>
            </li>
            <!-- out of scope for this version 
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/reach-digitally-excluded-patients">Reach digitally excluded patients</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/suggested-wording-for-common-messages">Suggested wording for common messages</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/measure-the-success-of-your-messages">Measure the success of your messages</a>
            </li> -->
          </ul>
          
      </nav>
      </div>
    </div>
    <div class="nhsuk-grid-column-two-thirds"> 

      <!-- Add your content here -->
      <span class="nhsuk-caption-l">
        Content guide
        
        <span class="nhsuk-u-visually-hidden"> - </span>
      </span>
      <h1 class="nhsuk-heading-xl">Communication channels for messages</h1>
      <p class="nhsuk-body-l">Most messaging service suppliers will only let you decide which communication channel to use to message an individual patient. They will have fixed channels for sending batch messages to multiple patients.</p>   
      <p class="nhsuk-body-l">Avoid sending the same message using multiple channels at the same time. This can overwhelm patients. It also increases costs for the NHS.</p>
      <h2>Send messages that patients can understand</h2>
        <p class="nhsuk-body">If a patient with a disability, impairment or sensory loss has a recorded communication need, you must send messages in a format they can access.</p>
        <p><a href="/primary-care-em-toolkit/v4/send-accessible-messages">Find out more about sending accessible and inclusive messages</a>.</p>
        <h2>Understand the benefits of different channels</h2>
        <p class="nhsuk-body">Different communication channels may be more appropriate for different types on messages. You should also consider how much sending a message will cost.</p>
      <p>Find out more about:</p>
      <ul>
        <li><a href="/primary-care-em-toolkit/v4/app-messages">NHS App messages</a></li>
        <li><a href="/primary-care-em-toolkit/v4/text-messages">text messages (SMS)</a></li>
        <li><a href="/primary-care-em-toolkit/v4/emails">emails</a></li>
        <li><a href="/primary-care-em-toolkit/v4/paper-letters">paper letters</a></li>
      </ul> 
        <h2>Create a communications policy</h2>
      <p>Create a communications policy that outlines what types of messages will be sent using each channel.</p>
      <p>This will make your messaging more consistent for patients, so they know what to expect. It will also help you budget for messaging costs.</p> 
        <p>NHS England has created a <a href="https://transform.england.nhs.uk/information-governance/guidance/template-email-and-text-message-communications/">template for email and text message communications</a>.</p>
</div>  

  </div>
{% endblock %}
