{% extends 'layout.html' %}

{% block pageTitle %}
  Messaging patients
{% endblock %}

{% block beforeContent %}
{% from 'breadcrumb/macro.njk' import breadcrumb %}

{{ breadcrumb({
  items: [
    {
      href: "/primary-care-em-toolkit/v3/primary-care-em-toolkit-index",
      text: "Home"
    }
  ],
  href: "/primary-care-em-toolkit/v3/primary-care-em-toolkit-index",
  text: "Messaging patients"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">
      <div class="app-pane__side-bar">
        <nav class="app-side-nav">
        
          <h2 class="app-side-nav__heading">Messaging patients</h2>
          <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item app-side-nav__item--current">
              <a class="app-side-nav__link" href="/primary-care-em-toolkit/v3/communication-channels-for-messages">Communication channels for messages</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/primary-care-em-toolkit/v3/send-accessible-messages">Send accessible and inclusive messages</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/primary-care-em-toolkit/v3/send-messages-that-patients-trust">Send messages that patients trust</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/primary-care-em-toolkit/v3/send-messages-that-are-appropriate-and-relevant">Send messages that are appropriate and relevant</a>
            </li>
            <!-- out of scope for this version 
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/reach-digitally-excluded-patients">Reach digitally excluded patients</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/suggested-wording-for-common-messages">Suggested wording for common messages</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/measure-the-success-of-your-messages">Measure the success of your messages</a>
            </li> -->
          </ul>
          
      </nav>
      </div>
    </div>
    <div class="nhsuk-grid-column-two-thirds"> 

      <!-- Add your content here -->
      <span class="nhsuk-caption-l">
        Content guide
        
        <span class="nhsuk-u-visually-hidden"> - </span>
      </span>
      <h1 class="nhsuk-heading-xl">Emails</h1>
      <p class="nhsuk-body-l">Sending an email is free. It can be more convenient and accessible than a paper letter.</p>
      <p class="nhsuk-body-l">Patients may also prefer to have information emailed to them if they need to forward it to someone else, for example a fit note (sick note).</p>   
<h2>Make your emails accessible</h2>
<p>Make sure that everyone, including people who use a screen reader, can understand your emails.</p>
<p>A screen reader helps people who are blind or have a visual impairment to interact with electronic devices like laptops and mobile phones. The screen reader will read the email content out loud or display the content in Braille.</p>
<p>You should:</p>
<ul>
  <li>write in plain English and avoid acronyms and abbreviations</li>
  <li>use a subject line that explains what the email is about</li>
  <li><a href="https://service-manual.nhs.uk/content/links">make sure any links will make sense if they are read out of context</a></li>
</ul>
 <!-- Out of scope for first iteration
  <h3>Example uses of email</h3>
<ul>
  <li>Appointment confirmations when there is a lot of information the patient needs to know, like any specific things they need to do before the appointment.</li>
  <li>Copies of letters, for example from a consultant.</li>
  <li>Patient information leaflets</li>
      </ul>-->
      <p>Your email could end up in a patient's junk folder or they might not trust it is from the NHS. <a href="/primary-care-em-toolkit/v3/send-messages-that-patients-trust">Find out more about sending messages that patients trust</a>.</p>
</div>  

  </div>
{% endblock %}
