{% extends 'layout.html' %}

{% block pageTitle %}
  Messaging patients
{% endblock %}

{% block beforeContent %}
{% from 'breadcrumb/macro.njk' import breadcrumb %}

{{ breadcrumb({
  items: [
    {
      href: "/primary-care-em-toolkit/v4/primary-care-em-toolkit-index",
      text: "Home"
    }
  ],
  href: "/primary-care-em-toolkit/v4/primary-care-em-toolkit-index",
  text: "Messaging patients"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">
      <div class="app-pane__side-bar">
        <nav class="app-side-nav">
        
          <h2 class="app-side-nav__heading">Messaging patients</h2>
          <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/primary-care-em-toolkit/v4/communication-channels-for-messages">Communication channels for messages</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/primary-care-em-toolkit/v4/app-messages">App messages</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/primary-care-em-toolkit/v4/text-messages">Text messages</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/primary-care-em-toolkit/v4/emails">Emails</a>
            </li>
            <li class="app-side-nav__item app-side-nav__item--current">
              <a class="app-side-nav__link" href="/primary-care-em-toolkit/v4/paper-letters">Paper letters</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/primary-care-em-toolkit/v4/send-accessible-messages">Send accessible and inclusive messages</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/primary-care-em-toolkit/v4/send-messages-that-patients-trust">Send messages that patients trust</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/primary-care-em-toolkit/v4/send-messages-that-are-appropriate-and-relevant">Send messages that are appropriate and relevant</a>
            </li>
            <!-- out of scope for this version 
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/reach-digitally-excluded-patients">Reach digitally excluded patients</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/suggested-wording-for-common-messages">Suggested wording for common messages</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/measure-the-success-of-your-messages">Measure the success of your messages</a>
            </li> -->
          </ul>
          
      </nav>
      </div>
    </div>
    <div class="nhsuk-grid-column-two-thirds"> 

      <!-- Add your content here -->
      <span class="nhsuk-caption-l">
        Content guide
        
        <span class="nhsuk-u-visually-hidden"> - </span>
      </span>
      <h1 class="nhsuk-heading-xl">Paper letters</h1>
      <p class="nhsuk-body-l">Sending a paper letter costs at least [£XX.XX]. Consider whether an app message, email or text message could be sent instead. These cost less and can be more convenient for patients.</p>   
      <p class="nhsuk-body-l">Do not send a paper letter to tell the patient anything urgent.</p>
<h2>Patient-focused letters</h2>
<p>Patients may find a letter useful if they could need to refer to the information in the future. For example, a summary of what has been discussed during a consultation.</p>
<p>Write any letters that a patient will see directly to them, rather than to another healthcare professional.</p>
<p>Follow our <a href="https://service-manual.nhs.uk/content">content guide</a> to write clear, concise letters using plain English.</p>     
<p><a href="/primary-care-em-toolkit/v4/send-accessible-messages">Find out more about sending accessible and inclusive messages</a>.</p>
</div>  
  </div>
{% endblock %}
