{% extends 'layout.html' %}

{% block pageTitle %}
  Messaging patients
{% endblock %}

{% block beforeContent %}
{% from 'breadcrumb/macro.njk' import breadcrumb %}

{{ breadcrumb({
  items: [
    {
      href: "/primary-care-em-toolkit/v3/primary-care-em-toolkit-index",
      text: "Home"
    }
  ],
  href: "/primary-care-em-toolkit/v3/primary-care-em-toolkit-index",
  text: "Messaging patients"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">
      <div class="app-pane__side-bar">
        <nav class="app-side-nav">
        
          <h2 class="app-side-nav__heading">Messaging patients</h2>
          <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item app-side-nav__item--current">
              <a class="app-side-nav__link" href="/primary-care-em-toolkit/v3/communication-channels-for-messages">Communication channels for messages</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/primary-care-em-toolkit/v3/send-accessible-messages">Send accessible and inclusive messages</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/primary-care-em-toolkit/v3/send-messages-that-patients-trust">Send messages that patients trust</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/primary-care-em-toolkit/v3/send-messages-that-are-appropriate-and-relevant">Send messages that are appropriate and relevant</a>
            </li>
            <!-- out of scope for this version 
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/reach-digitally-excluded-patients">Reach digitally excluded patients</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/suggested-wording-for-common-messages">Suggested wording for common messages</a>
            </li>
            <li class="app-side-nav__item">
              <a class="app-side-nav__link" href="/measure-the-success-of-your-messages">Measure the success of your messages</a>
            </li> -->
          </ul>
          
      </nav>
      </div>
    </div>
    <div class="nhsuk-grid-column-two-thirds"> 

      <!-- Add your content here -->
      <span class="nhsuk-caption-l">
        Content guide
        
        <span class="nhsuk-u-visually-hidden"> - </span>
      </span>
      <h1 class="nhsuk-heading-xl">Text messages (SMS)</h1>
      <p class="nhsuk-body-l">Sending text messages costs the NHS millions of pounds each year.</p>   
      <p class="nhsuk-body-l">If you try to send a text message and it is not delivered to the patient, you will still be charged. Regularly check that the mobile numbers you have for patients are up to date.</p>
<!-- Out of scope for first iteration
<p>Text messages should only be sent if:</p>
<ul>
  <li>the patient does not have the NHS App</li>
  <li>you are requesting information that is needed quickly</li>
      </ul>
      <h3>Example uses of text messages</h3>
      <p>Urgent requests for the patient:</p>
      <ul>
        <li>to send a photo to a clinician</li>
        <li>to join a video consultation</li>
        <li>to complete a form or send a document</li>
            </ul>-->
  <h2>Text message fragments</h2>
     <p>Text messages are split into chunks called fragments.</p> 
     <ul>
      <li>160 characters is 1 fragment.</li>
      <li>306 characters is 2 fragments.</li>
      <li>459 characters is 3 fragments.</li>
      <li>Each additional 153 characters is another fragment.</li>
     </ul>  
<p>Each fragment costs about 2 pence.</p>  
<p>If you go 1 character over a fragment limit, you are charged for another fragment. For example:</p>  
<ul>
  <li>306 characters will be 2 fragments and cost about 4 pence</li>
  <li>307 characters will be 3 fragments and cost about 6 pence</li>
</ul>
<h3>How to reduce the length of your text messages</h3>
      <p>You should keep text messages as short as possible but make sure you include all the information the patient needs to know.</p>
      <p>Following the <a href="https://service-manual.nhs.uk/content/how-we-write">'How we write' section of our content style guide</a> can help you to write messages clearly and concisely.</p>
<p>If you use templates for your messages, check the fragment length and remove any words that are not needed, for example COVID-19 guidance.</p>
<p>You can also reduce the length of your text messages by:</p>
  <ul>
    <li>only using spaces and line breaks where they are needed (spaces are 1 character and line breaks are 2 characters)</li>
    <li>using widely known acronyms, for example 'A&E', rather than 'accident and emergency'</li>
    <li>only using signs and symbols, like brackets and quote marks, if the message would be hard to understand without them</li>
  </ul>
  <p><a href="https://www.notifications.service.gov.uk/pricing/text-messages#symbols">Find out how signs, symbols and accented characters can increase text message fragments</a>.</p>
  <h3>Make sure everyone can understand your text messages</h3>
    <p>Reducing the length of your text messages is important. But it is more important that all patients can understand your messages.</p>
    <p> You should:</p>  
<ul>
  <li>avoid using acronyms not everyone will be familiar with, for example 'OTC' for 'over the counter'</li>
  <li>avoid using abbreviations, for example 'Mon' for 'Monday', 'Feb' for February or 'appt' for 'appointment'</li>
</ul>
<p><a href="/primary-care-em-toolkit/v3/send-accessible-messages">Find out more about sending accessible and inclusive messages</a>.</p>
<p>Look at our <a href="/primary-care-em-toolkit/v3/suggested-wording-for-common-messages">suggested wording for common messages</a>, which have been tested with patients and are as short as possible.</p>
<h2>Links in text messages</h2>
<p>Not all patients with a mobile telephone number have a smartphone.</p>
<p>Give patients another way to respond if they are not able to follow the links in a text message. <a href="/primary-care-em-toolkit/v3/reach-digitally-excluded-patients">Find out more about reaching digitally excluded patients</a>.</p>
<p>If you include links in a text message, do not use a third-party link shortening service. They are not accessible for patients using assistive technology.</p>
<p>Patients also cannot tell whether a short link goes to a website they can trust, for example www.nhs.uk or www.gov.uk. <a href="/primary-care-em-toolkit/v3/send-messages-that-patients-trust">Find out more about sending messages that patients trust</a>.</p>
</div>  

  </div>
{% endblock %}
